@font-face{
    font-family: "WorkSans-Light";
    src :  url(WorkSans-Light.ttf);
}
@font-face{
    font-family: "WorkSans-Regular";
    src :  url(WorkSans-Regular.ttf);
}
#showCarduser{
    display: none;
}
table{
    width: 100%;
    height: 100%;
}
table thead{
    background-color: #204056;
    color: white;
}
table thead tr th{
    text-align: center;
}
table tbody{
    background-color: white;

}
table tbody tr td{
    text-align: center;

}
body{
    font-family: "WorkSans-Regular";
    background-color: #eee;
    color: #204056;
    font-size: 18px;
    padding-bottom: 20px;
}
.one-page{
    width: 100vw;
    height: 100vh;
}
.navbar{
    width: 100%;
    height: 60px;
    background-color: #00b4a2;
    border-radius: 0;
}
.navbar .navbar-brand{
     float: left;
    line-height: 60px;
    height: 0;
    padding: 0;
    margin: 0;

 }

.navbar .navbar-brand a{

    color: white;
    font-size: 22px;
    text-decoration: none;
    cursor: pointer;
}
.navbar .navbar-user{
      float: right;
        padding: 9px 0 0 0;
    margin-right: -15px;
    position: relative;
    display: inline-block;
    width: 350px;
}

.navbar .navbar-user .circle-user{
    border-radius: 100%;
    width: 40px;
    height: 40px;
    float: right;
    background-color: white;
}
.navbar .navbar-user img{
    width: 100%;
    height: 100%;
    border-radius: 100%;

}
.navbar .navbar-user .navber-user-content{
    display: block;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 5;
    width: 100%;
    height: 170px;
    margin-top: 50px;
}
.navbar .navbar-user .navber-user-content .card-navbar-content{
    width: 100%;
    height: 120px;
    padding: 10px;

}
.navbar .navbar-user .navber-user-content .card-navbar-content img{
    width: 90px;
    height: 90px;
    border-radius: 100%;
    float: left;
    display: inline;
    margin-right: 20px;

 }

.navbar .navbar-user .navber-user-content .card-navbar-content h4{
    display: inline;
}
.navbar .navbar-user .navber-user-content .zone-button-navbar-user-content{
    width: 100%;
    height: 50px;
    border-top: 1px solid #204056;
}
.navbar .navbar-user .navber-user-content .zone-button-navbar-user-content .button-navbar-user-content-profile{
    width: 50%;
    height: 100%;
    float: left;
    cursor: pointer;
    background-color: white;
    border-right: 1px solid #204056;
    text-align: center;
    line-height: 50px;

}
.nav-login-register{
    width: 100%;
    height: 380px;
    background-color: #00b4a2;
    padding: 20px 0;
}
.nav-login-register img{
     display: block;
     margin:auto;
     width: 140px;
     height: 140px;
     border-radius: 100%;
 }
.nav-login-register h3{
    text-align: center;
    color: white
}
.nav-login-register div{
    width: 100%;
    padding: 0 60px;
    margin-top: 30px;
}
.nav-login-register div a{
    padding: 10px;
    background-color: white;
    color: #204056;
    cursor: pointer
}
.nav-login-register div a.register{
    float: left;
}
.nav-login-register div a.login{
     float: right;
 }
.nav-login-register div a.active{
    background-color: #eee;
}
.nav-login-register div a:hover{
    background-color: #eee;
}
.login-register{
    width: 100%;
    height: 380px;
    background-color: white;
    border: 1px solid #204056;
    padding: 0 60px;
}
.login-register button{
     width: 100%;
     background-color: #00b4a2;
     border:0;
     height:40px;
     color: white;
 }

.login-register button:focus{
    outline: none;
}
.card-course{
    width: 100%;
    height: 330px;
    background-color: white;

    margin: 10px 0;
    cursor: pointer;
    border: 1px solid #EEEEEE;
}
.card-course:hover{
    opacity: 0.8;
}
.card-course img{
    width: 100%;
    height: 180px;




}
.card-course .card-headder{
    padding: 10px;
    overflow: hidden;

    width: 100%;
    height: 120px;
    display: block;

}
.card-course .card-headder h4{
    display: inline;

}
.card-course .list-icon{
    width: 100%;
    height: 30px;
    padding: 0px 10px 10px 10px;
    display: block;

}

.card-course .list-icon span{
    color: #204056;
    margin-right: 10px;
    display: inline;
}

.card-teacher{
    width: 100%;
    height: 230px;
    overflow: hidden;
    padding:10px;
    text-align: center;
    background-color: white;
    margin: 10px 0;
}
.card-teacher img{
    width: 150px;
    height: 150px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 100%;

}
.card-teacher h4{
    display: inline;
}
.list-course{
    width: 100%;
    height: 60px;
    background-color: white;
    overflow: hidden;

    margin: 5px 0 0 0;



}

.list-course .img-list-course{

    height: 100%;
    float: left;
    margin-right: 10px;
    display: block;
    width: 70px;
}
.list-course .img-list-course img{
    width: 100%;
    height: 100%;

}
.list-course .progress-list-course{
    height: 100%;
    float: left;
    margin-right: 10px;
    display: block;
    width: 70px;
    background-color: #204056;
    text-align: center;

}
.list-course .progress-list-course span{
    line-height: 60px;
    color: white;
}
.list-course .list-course-headder{
    padding: 5px 0 0 0;
    height: 30px;
    float: left;
    overflow-x: hidden;
    overflow-y: hidden;
    display: block;



}
.list-course .list-course-headder h4{
    cursor: pointer;
}

.list-course .list-course-icon{
    display: block;
    float: left;
    margin-right: 10px;
    height: 25px;
    position: absolute;
    left: 80px;
    top:35px;



}
.list-course .list-course-icon span{
    color: #204056;
    margin-right: 10px;
    display: inline;
    cursor: pointer;
}
.list-course .list-course-join{
    float: right;
    cursor: pointer;
    height: 100%;
    background-color: #00b4a2;
    padding: 10px 15px;
}

.list-course .list-course-join p{
    line-height: 40px;
    color: white;
}

.img-card-coursepage{
    width: 100%;
    height: 250px;

}
.img-card-coursepage img{
    width: 100%;
    height: 100%;

}
.detail-card-coursepage{
    width: 100%;
    height: 250px;

    background-color: white;
    padding: 20px 10px;
}
.detail-card-coursepage .headder-card-coursepage{
    display: block;
    float: left;
    height: 50px;
    width: 100%;

}
.detail-card-coursepage .headder-card-coursepage h3{
    display: inline;
}
.detail-card-coursepage .l-a-f-card-course{
    display: block;
    float: left;
    height: 50px;
    width: 100%;

    margin-top: 15px;
}
.detail-card-coursepage .l-a-f-card-course .icon-l-a-f-card-course{
    text-align: center;
    border: 1px solid #204056;
    padding: 10px 10px 10px 10px;
    background-color: white;
    width: 150px;

    display: inline;

}
.detail-card-coursepage .l-a-f-card-course a{
    padding: 10px;
    background-color: white;
    color: #00b4a2;

    display: inline;
    cursor: pointer;
    text-decoration: none;
    margin: 0;

}
.announce-list{
    width: 100%;
    height: 60px;
    background-color: white;
    margin: 5px 0;
    cursor: pointer;
}
.announce-list .announce-date{
    text-align: center;
    width: 110px;
    height: 100%;
    float: left;
    display: block;
    background-color: #204056;
    color: white;
}
.announce-list .announce-detail{
    display: block;
    float: left;
    line-height: 60px;
    margin-left: 10px;

}
.announce-list .announce-detail h4{
    display: inline;

}

/*start studypage*/
#hover{
    transition: width .3s;
}

.hover-nav{
     position: absolute;
     display: none;
     z-index: 5;
     width: 0%;
     height: 100%;

     left: 0;
     background-color: rgba(0,0,0,0.4);
     padding: 60px 20px 20px 20px;
    overflow: hidden;

 }
.hover-nav .hadder-hover-nav{
    width: 100%;
    height: 45px;
    background-color: white;
    display: block;
    padding-left: 20px;
}
.hover-nav .hadder-hover-nav h4{
    line-height: 45px;

}
.hover-nav .list-problem{
     width: 30%;
     height: 90%;
     background-color: white;
     float: left;
    overflow-y: auto;
 }
.hover-nav .list-problem .problem-name{
     width: 100%;
     height: 40px;
     display: block;
    cursor: pointer;


 }
.hover-nav .list-problem .problem-name:hover{
    background-color: #EEEEEE;

}
.hover-nav .list-problem .problem-name p{
    padding-left: 20px;
    line-height: 40px;


}
.hover-nav .list-problem .problem-name p.active{
    background-color: #00b4a2;
    color: white;

}

.hover-nav .list-problem .problem{

     border-bottom: 1px solid #204056;
     cursor: pointer;
    width: 100%;
    height: 40px;

 }
.hover-nav .list-problem .problem p{

    line-height: 40px;
    margin-left: 20px;
}
.hover-nav .list-problem .problem:hover{
    border: none;
    background-color: #00b4a2;
    color: white;

}
.hover-nav .show-problem-detail2{
     width: 70%;
     height: 90%;

     float: right;
     background-color: #EEEEEE;
     padding: 10px;
    overflow-y: auto;
 }




.navbar-study-top{
    position: fixed;
    display: block;
    width: 100%;
    z-index: 6;
    height: 50px;
    background-color: #00b4a2;


}
.navbar-study-top .navber-button-problem{
        float: left;
}
.navbar-study-top .navber-button-problem button{
    border: 0;
    background-color: #204056;
    color: white;
    height: 40px;
    margin-top: 5px;
    margin-right: 5px;
    display: inline;
    margin-left: 10px;


}
.navbar-study-top .navber-button-problem button:focus{
    outline: none;


}

.navbar-study-top .navbar-user-study-top{
     position: relative;
     display: inline-block;
    float: right;
    padding: 5px 10px 0 0;
    width: 350px;


 }
.navbar-study-top .navbar-user-study-top .circle-user-study{
    border-radius: 100%;
    width: 40px;
    height: 40px;
    float: right;
}
.navbar-study-top .navbar-user-study-top .circle-user-study img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.navbar-study-top .navbar-user-study-top .navber-user-study-top-content{
     display: block;
     position: absolute;
     background-color: white;

     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     z-index: 1;
     height: 170px;
     margin-top: 45px;
     width: 100%;


 }
.navbar-study-top .navbar-user-study-top .navber-user-study-top-content .card-navber-user-study-content{
    width: 100%;
    height: 120px;
    padding: 10px;

}
.navbar-study-top .navbar-user-study-top .navber-user-study-top-content .card-navber-user-study-content img{
     width: 90px;
     height: 90px;
     border-radius: 100%;
     float: left;
     display: inline;
     margin-right: 20px;
 }
.navbar-study-top .navbar-user-study-top .navber-user-study-top-content .card-navber-user-study-content h4{
    display: inline;
}
.navbar-study-top .navbar-user-study-top .navber-user-study-top-content .button-navber-user-study-content{
    width: 100%;
    height: 50px;
    border-top: 1px solid #204056;
}
.navbar-study-top .navbar-user-study-top .navber-user-study-top-content .button-navber-user-study-content .profile-button-navber-user-study-content{
    cursor: pointer;
    float: left;
    width: 50%;
    height: 100%;
    border-right: 1px solid;
    background-color: white;

    line-height: 50px;
    text-align: center;
}
.navbar-study-top .navbar-user-study-top .navber-user-study-top-content .button-navber-user-study-content .logout-button-navber-user-study-content{
    cursor: pointer;
    float: left;
    width: 50%;
    height: 100%;
    color: #00b4a2;
    background-color: white;
    line-height: 50px;
    text-align: center;
}


.main-study-middle{
     display: block;
     width: 100%;
     height: 100%;
     position: absolute;
     padding-top: 50px;
    padding-bottom: 50px;
 }
.main-study-middle .left-main-study-middle{
     float: left;
     width: 50%;
     height: 100%;
    padding: 10px;

 }
.main-study-middle .left-main-study-middle iframe{
    width:100%;
    height: 80%;
   border: 0;



}
.main-study-middle .left-main-study-middle .show-error{
    background-color: white;
    width: 100%;
    height: 20%;
    border: 1px solid #204056;
}
.main-study-middle .right-main-study-middle{
    float: right;
    width: 50%;
    height: 100%;
    padding: 10px;

}

.main-study-middle .right-main-study-middle select{

    width: 100%;
    height: 5%;
    border: 1px solid #204056;
    border-radius:0;
}
.main-study-middle .right-main-study-middle .list-file{
    width: 100%;
    height: 10%;
    border-radius:0;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    background-color: white;
}
.main-study-middle .right-main-study-middle .list-file button{
    display: inline;
    background-color: #204056;
    color: white;
    height: 100%;
    margin-right: 2px;
    border: none;
    padding: 0 7px
}
.main-study-middle .right-main-study-middle .list-file button:focus{
    background-color: #00b4a2;
    outline: none;
}
.main-study-middle .right-main-study-middle .ace_editor{
    width: 100%;
    height: 90%;

}
.navbar-study-bottom{
    position: absolute;

    width: 100%;
    display: block;
    height: 50px;
    background-color: white;
    bottom: 0px;

}
.navbar-study-bottom .left-navber-study-bottom{
     width: 50%;
     height: 100%;

    float: left;
    padding-left: 10px;

 }
.navbar-study-bottom .left-navber-study-bottom p{
    line-height: 50px;
    padding: 0;
    margin: 0
}
.navbar-study-bottom .left-navber-study-bottom p.complete{
    color: #00b4a2;
}
.navbar-study-bottom .left-navber-study-bottom p.error{
    color: red;
}
.navbar-study-bottom .right-navber-study-bottom{
     width: 50%;
     height: 100%;
     float: left;
    padding-left: 10px;
    padding-right: 5px;
 }
.navbar-study-bottom .right-navber-study-bottom button{
    border: 0;
    background-color: #204056;
    color: white;
    height: 40px;
    margin-top: 5px;
    margin-right: 5px;
    display: inline;
}
.navbar-study-bottom .right-navber-study-bottom button.select-file{
    background-color: #00b4a2;
    color: white;
}
.navbar-study-bottom .right-navber-study-bottom p{
    line-height: 50px;
    margin-right: 5px;
    display: inline;
}

.navbar-study-bottom .right-navber-study-bottom .right-next-problem{
    float: right;
    height: 100%;
}
/*end studypage*/

.card-student{
     width: 100%;
     height: 60px;
     background-color: white;
    padding: 5px;
    overflow: hidden;
    margin: 5px;
 }
.card-student img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    float: left;
    margin:0 10px;

}
.card-student .left-card-student{
    float: left;

}
.card-student .left-card-student p{
    display: block;
    line-height: 20px;

}

.card-student .right-card-student{
     float: right;

}
.card-student .right-card-student .button-right-card-student{

    height: 100%;
    background-color: white;
    color: #00b4a2;
    text-align: center;

}

.card-student .right-card-student .button-right-card-student p{
    line-height: 50px;
    cursor: pointer;
 }
.card-student .right-card-student .num-submit{
    height: 100%;
    text-align: center;
    background-color: white;

}
.card-student .right-card-student .num-submit p{
    line-height: 50px;
    color: #204056;

}
.card-problem-detail{
    background-color: white;
    width: 100%;
    height: 60px;

    display: block;
    border: 1px solid #204056;
    margin: 5px;
}
.card-problem-detail .card-problem-detail-left{
     width: 30%;
     height: 100%;
     border-right: 1px solid #204060;
    display: block;
    float: left;

 }
.card-problem-detail .card-problem-detail-left h4{
    position: absolute;
    top:15px;
    left: 70px;
 }
.card-problem-detail .card-problem-detail-left i{
     font-size: 35px;
     margin-right: 5px;
     display: inline;
     position: absolute;
     top: 16px;
     left: 25px;
 }
.card-problem-detail .card-problem-detail-left span{
    font-size: 30px;
    margin-right: 5px;
    display: inline;
    position: absolute;
    top: 20px;
    left: 27px;
}
.card-problem-detail .card-problem-detail-right{
    width: 70%;
    height: 100%;

    float: left;
    display: inline-block;
}
.card-problem-detail .card-problem-detail-right p{
    line-height: 60px;
    text-align: center;
}
.card-problem-detail .card-problem-detail-right span{
    line-height: 60px;
    text-align: center;
}


.list-file-problem{
    width: 100%;
    height: 51px;
    border-radius:0;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    background-color: white;

}
.list-file-problem button{
    display: inline;
    background-color: #204056;
    color: white;
    height: 100%;
    margin-right: 2px;
    border: none;
    padding: 0 7px
}
.list-file-problem button:focus{
    background-color: #00b4a2;
    outline: none;

}
.card-all-add{
    width: 100%;
    padding: 15px;
    background-color: white;
    clear: both;
    height: 100%;
    display: table;

}
.card-all-add button.submit-card-all-add{

    border: none;
    background-color: #204056;
    color: white;
    padding: 10px;
    float: right;
    display: block;
    margin-top: 10px;
}

.progress-main{
    width: 100%;
    height: 40px;
    border-top: 1px solid rgba(0,0,0,0.1);
    float: left;
    border-top: none;
    margin-bottom:10px;

}
.progress-main .progress {
    width: 90%;
    height: 6px;
    float: left;
    background-color: lightgray;
    background-color: rgba(0,0,0,0.1);
    border-radius: 0;
}

.progress-main .progress .progress-bar{
    background-image: none;
    background-color: #204056;
}
.progress-main .current-work{
    width: 10%;
    float: right;
    font-size: 15px;
    font-weight: 200;
    line-height: 8px;
    color: #204056;
}
.progress-main .current-work p{
   float: right;
}


/*test drang drop*/
.simpleDemo ul[dnd-list],
.simpleDemo ul[dnd-list] > li {
    position: relative;
}


.simpleDemo ul[dnd-list] {
    min-height: 60px;
    padding-left: 0px;
}


.simpleDemo ul[dnd-list] .dndDraggingSource {
    display: none;
}


.simpleDemo ul[dnd-list] .dndPlaceholder {
    display: block;
    background-color: #EEEEEE;
    min-height: 60px
}

.simpleDemo ul[dnd-list] li {
    background-color: white;
    border: 1px solid #204056;
    height: 60px;
    display: block;
    line-height:55px;
    margin-bottom: 1px;
    padding-left: 10px;
}


.simpleDemo ul[dnd-list] li.selected {
    background-color: #dff0d8;
    color: #00b4a2;
}

.nav-profile{
     width: 100%;

 }
.nav-profile a{
     width: 100%;
     display: block;
     padding: 10px;
     text-align: center;

    cursor: pointer;
    background-color: white;

 }
.nav-profile a.active{
    background-color: #EEEEEE;
}
.nav-profile a.inactive{
    background-color: white;
}

.card-profile{
    width: 100%;
    display: block;


}
.list-lesson-profile{
        width: 100%;
        height: 40px;


    }
.list-lesson-profile .left-name-lesson-profile{
     float: left;
 }
.list-lesson-profile .left-name-lesson-profile p{
    font-size: 16px;
}
.list-lesson-profile .right-prograss-lesson-profile{
    float: right;

}
.list-lesson-profile .right-prograss-lesson-profile p{
    color: #00b4a2;
    font-size: 16px;

}

.nav-add-student{
    width: 100%;
    height: 50px;
    margin-bottom: 30px;


}
.nav-add-student .center-nav-add-student{
    display: table;
    margin: auto;
    height: 100%;

}
.nav-add-student .center-nav-add-student a{
    line-height: 50px;
    background-color: #00b4a2;
    padding: 10px 15px;
    color: white;
    margin-right: 5px;
    cursor: pointer;

}