@font-face {
    font-family: 'Expletus Sans';
    src: url(ExpletusSans-Regular.ttf);
}
.navbar-brand {
    padding: 0px;
}
.navbar-brand>img {
    height: 100%;
    padding: 15px;
    width: 150px;
}

body{
    color: #204056;
    font-family: 'Expletus Sans', cursive;
    background-color: #e6e9ed;
}


.img-background-homepage{
    display: block;
    width: 100%;
    height: 100%;
    background: url('background.jpg') no-repeat center center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;
    color: white;
    padding: 10%;

}
.img-background-homepage h1{
    text-align: center;


}
.img-background-homepage img{
    display: block;
    margin: auto;
    width: 100%;
    height:200px;
}
.img-background-homepage button{
    color: #00aa98;
    padding: 10px 15px;
    width: 100%;
    font-size: 20px;
    margin-top: 10px;
    background-color: white;
    border: none;
}
.img-background-homepage button:hover{
    background-color: #f5f7fa;
}
.cricle-user-dropdown{
    display: inline;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 100%;
    margin-right: 5px;
}
.cricle-user-dropdown img{
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.card-course{
    width: 100%;
    margin: 10px 0;
    display: table;
    overflow: hidden;
    background-color: white;

    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-course img{
    width: 100%;
    height: 200px;


}
.card-course .headder-card-course{
    width: 100%;

    background-color: white;
    line-height: 60px;
    height: 50px;
    overflow: hidden;
}

.card-course .headder-card-course h3{
    margin: 0 0 0 10px;
    display: inline;

}

.card-course .headder-card-course span{
    font-size: 24px;
    margin-left: 10px;

    display: inline;

}

.button-all-card{
    padding: 10px 20px;
    background-color: #f5f7fa;

}
.button-all-card h4{

    margin-top: 15px;

}
.button-all-card button{
    padding: 10px;
    background-color: white;
    border: 0;
    margin: 5px 0;
    width: 100%;
}
.button-all-card button:hover{
    background-color: #f5f7fa;
}

form{
    width: 100%;
    display: table;
    background-color: white;
    padding: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    margin: 10px;
    overflow: hidden;
}
table{
    margin-top: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}
table tr{
    background-color: white;
}
table tbody tr td .user-table{
    height: 50px;
    padding: 0 10px;
}
table tbody tr td .user-table .user-table-img{
    display: inline;
    border-radius: 100%;
    width: 40px;
    height: 50px;
    float: left;

}
table tbody tr td .user-table .user-table-img img{
    border-radius: 100%;
    width: 40px;
    height: 40px;

}
table tbody tr td .user-table .user-table-img{
    display: inline;
    border-radius: 100%;
    width: 40px;
    height: 50px;
    float: left;

}
.card-square-user{
    width: 100%;
    display: table;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    background-color: white;
    margin:10px;
    position: relative;
}
.card-square-user .background-circle-user{
    width: 100%;
    height: 150px;
    background: url('../logo.png') no-repeat ;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.card-square-user .background-circle-user .cricle-user-img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: white;
    z-index: 1;
    position: relative;
    margin: auto;
    display: block;
    top:100px;
    padding-top: 5px;

}
.card-square-user .background-circle-user .cricle-user-img img{
    width: 90px;
    height: 90px;
    border-radius: 100%;
    display: block;
    margin: auto;
}

.card-square-user .content-card-user-teacher{
    width: 100%;
    overflow: hidden;
    padding: 50px 15px 10px 15px;
    background-color: white;
}
.card-square-user .content-card-user-teacher h3{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 25px;

}
.card-square-user .content-card-user-teacher h4{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
    color: #00b4a2;
}
.card-square-user .content-card-user-teacher p{
    text-align: center;
    margin-bottom: 10px;


}

.card-user-student{
    width:100%;
    margin: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    padding: 10px;
    background-color: white;
    display: table;
}
.card-user-student .circle-img-card-user-student{
    width: 90px;
    height: 90px;
    border-radius: 100%;
    background-color: white;
    float: left;
    margin-right: 15px;

}
.card-user-student .circle-img-card-user-student img{
    width: 90px;
    height:90px;
    border-radius: 100%;
}
.card-user-student .content-card-user-student{
    display: block;
    float: left;
    padding: 10px 0;
    overflow: hidden;

}
.card-user-student .content-card-user-student h3{


}
.card-user-student .content-card-user-student h5{
    color: #00b4a2;

}


.list-card-course{
    width: 100%;
    padding: 5px;
    background-color: white;
    display: table;

}
.list-card-course .square-img-card-course{
    width: 90px;
    height:90px;
    border-radius: 4px;
    float: left;
    margin-right: 15px;
}
.list-card-course .square-img-card-course img{
    width: 90px;
    height:90px;
    border-radius: 4px;
}
.list-card-course .content-list-card-course{
    float: left;
    overflow: hidden;
    padding: 10px 0;

}
.list-card-course .content-list-card-course h3{
    margin-top: 0;
    margin-bottom: 25px;
}
.list-card-course .content-list-card-course h4 span{
    color: #00b4a2;
    margin-right: 10px;
}

.card-lesson{
    width: 100%;
    display: table;
    margin:10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.card-lesson .content-card-lesson{
    width: 100%;
    height: 120px;
    background-color: white;
    padding: 15px 10px 10px 10px;
    display: table;
    cursor: pointer;
    overflow: hidden;
}
.card-lesson .content-card-lesson:hover{

    background-color: #f5f7fa;
}
.card-lesson .content-card-lesson .prograss-wraper{
    margin: auto;
    position: relative;

}
.card-lesson .content-card-lesson .prograss-wraper .current{
    top:50%;
    left: 50%;
    bottom: auto;
    transform: translateY(-50%) translateX(-50%);
    position: absolute;
    font-size: 28px;

}


.card-lesson .content-card-lesson .text-content-card-lesson{
    padding: 10px 0;
    margin-left: 20px;
}
.card-lesson .content-card-lesson .text-content-card-lesson h3{
    margin: 10px 0 25px 0;
}
.card-lesson .content-card-lesson .text-content-card-lesson h4 span{
    color: #00b4a2;
    margin-right: 10px;

}



.card-announcement{
    width: 100%;
    display: table;

    margin: 10px;
    background-color: #00b4a2;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}
.card-announcement:hover{
    background-color: #00aa98;
}
.card-announcement .content-card-announcement{
    padding: 10px;
    color: white;
}
.card-announcement .content-card-announcement .text-content-card-announcement{
    float: left;
    margin-left: 15px;
    padding: 10px 0;
    overflow: hidden;
    cursor: pointer;
}
.card-announcement .content-card-announcement .text-content-card-announcement h3{
    margin: 0;
    display: inline;

}
.card-announcement .content-card-announcement .text-content-card-announcement p{
    display: block;
    margin-top: 10px;
    font-size: 15px;
}
.card-announcement .content-card-announcement .text-content-card-announcement p span{
    margin-right: 10px;

}

.card-announcement .button-card-announcement{
    padding: 10px 20px;
}

.card-announcement .button-card-announcement button{
    padding: 10px;
    background-color: white;
    border: 0;
    margin: 5px 0;
    width: 100%;
    color: #204056;
}

.card-announcement .button-card-announcement button:hover{

    background-color: #f5f7fa;

}

.card-problem{
    display: table;
    margin: 10px;
    width: 100%;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}
.card-problem .content-card-problem{
    width: 100%;
    display: table;
    padding: 15px 10px 10px 10px;
    background-color: white;
    cursor: pointer;
    overflow: hidden;
}
.card-problem .content-card-problem:hover{

    background-color: #f5f7fa;
}
.card-problem .content-card-problem h4{
    display: inline;
}



.card-profile{
    display: table;
    width: 100%;
    margin: 75px 10px 10px 10px;
    position: relative;

}

.card-profile .content-card-profile{
    display: table;
    width: 100%;
    background-color: white;
    padding: 0px 10px 10px 10px;
}

.card-profile .content-card-profile .circle-img-card-profile{
    width: 150px;
    height: 150px;
    background-color: white;
    position: relative;
    display: block;
    margin: auto;
    border-radius: 100%;
    top:-75px;
    z-index: 1;

}
.card-profile .content-card-profile .circle-img-card-profile img{
    width: 150px;
    height: 150px;
    border-radius: 100%;
}
.card-profile .content-card-profile h1{
    text-align: center;
    margin-top: 0;

}
.card-profile .content-card-profile h2{
    text-align: center;
    margin-top: 70px;

}



.modal.ng-enter {
    transition: opacity .5s ease-out;
    opacity: 0;
}
.modal.ng-enter.ng-enter-active {
    opacity: 1;
}
.modal.ng-leave {
    transition: opacity .5s ease-out;
    opacity: 1;
}
.modal.ng-leave.ng-leave-active {
    opacity: 0;
}



.class{
    background-color: #002663;
}
.package{

    background-color: #e01563;

}
.enclose{
    background-color: #2a5934;

}
.extend{
    background-color: #ff7300;

}
.constructor{

    background-color: #00b4a2;
}
.attribute{
    background-color: #ffce54;

}
.method{
    background-color: #ff322e;


}
.card-detail-class{
    color: white;
    display: table;
    width: 100%;
    display: table;

    padding: 10px;
    margin: 10px 5px 10px 5px;

    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.card-detail-class p{
    font-size: 14px;
}
.card-detail-class .type-card-detail-class{
    font-size: 12px;
    display: block;
}
.card-detail-class .name-point-card{
    width: 100%;
    display: block;
    height: 40px;
}
.card-detail-class .name-point-card .name{
    float: left;

}
.card-detail-class .name-point-card .point{
    float: right;

}
.card-detail-class .name-point-card input{
    float: right;
    color: #204056;
    width: 60px;
    margin-right: 5px;

}


/*study page*/
#hover{
    transition: width .3s;
}

.hover-nav{
    position: absolute;

    z-index: 5;
    width: 0%;
    height: 92%;
    top: 50px;
    left: 0;
    background-color: rgba(0,0,0,0.4);

    overflow: hidden;

}
.hover-nav .hadder-hover-nav{
    width: 100%;
    height: 45px;
    background-color: white;
    display: block;
    padding-left: 20px;
    background-color: #204056;
}
.hover-nav .hadder-hover-nav h4{
    line-height: 45px;
    color: white;

}
.hover-nav .list-problem{
    width: 30%;
    height: 90%;
    background-color: white;
    float: left;
    overflow-y: auto;
}
.hover-nav .list-problem .problem-name{
    width: 100%;
    height: 40px;
    display: block;
    cursor: pointer;


}
.hover-nav .list-problem .problem-name:hover{
    background-color: #EEEEEE;

}
.hover-nav .list-problem .problem-name p{
    padding-left: 20px;
    line-height: 40px;


}
.hover-nav .list-problem .problem-name p.active{
    background-color: #00b4a2;
    color: white;

}

.hover-nav .list-problem .problem{

    border-bottom: 1px solid #204056;
    cursor: pointer;
    width: 100%;
    height: 40px;

}
.hover-nav .list-problem .problem p{

    line-height: 40px;
    margin-left: 20px;
}
.hover-nav .list-problem .problem:hover{
    border: none;
    background-color: #00b4a2;
    color: white;

}
.hover-nav .show-problem-detail2{
    width: 70%;
    height: 90%;

    float: right;
    background-color: #EEEEEE;
    padding: 10px;
    overflow-y: auto;
}

.main-study-middle{

    width: 100%;
    height: 100%;
    position: absolute;
    padding-top: 50px;
    padding-bottom: 50px;
}
.main-study-middle .left-main-study-middle{
    float: left;
    width: 50%;
    height: 100%;
    padding: 10px;

}
.main-study-middle .left-main-study-middle iframe{
    width:100%;
    height: 80%;
    border: 0;



}
.main-study-middle .left-main-study-middle .show-error{
    background-color: white;
    width: 100%;
    height: 20%;
    border: 1px solid #204056;
}
.main-study-middle .right-main-study-middle{
    float: right;
    width: 50%;
    height: 100%;
    padding: 10px;

}


.main-study-middle .right-main-study-middle .list-file{
    width: 100%;
    height: 10%;
    border-radius:0;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    background-color: white;
}
.main-study-middle .right-main-study-middle .list-file button{
    display: inline;
    background-color: #204056;
    color: white;
    height: 100%;
    margin-right: 2px;
    border: none;
    padding: 0 7px
}
.main-study-middle .right-main-study-middle .list-file button:focus{
    background-color: #00b4a2;
    outline: none;
}
.main-study-middle .right-main-study-middle .ace_editor{
    width: 100%;
    height: 91%;


}
.navbar-study-bottom{
    position: fixed;

    width: 100%;
    display: block;
    height: 50px;
    background-color: white;
    bottom: 0px;
    z-index: 4;
}
.navbar-study-bottom .left-navber-study-bottom{
    width: 50%;
    height: 100%;

    float: left;
    padding-left: 10px;

}
.navbar-study-bottom .left-navber-study-bottom p{
    line-height: 50px;
    padding: 0;
    margin: 0
}
.navbar-study-bottom .left-navber-study-bottom p.complete{
    color: #00b4a2;
}
.navbar-study-bottom .left-navber-study-bottom p.error{
    color: red;
}
.navbar-study-bottom .right-navber-study-bottom{
    width: 50%;
    height: 100%;
    float: left;
    padding-left: 10px;
    padding-right: 5px;
}
.navbar-study-bottom .right-navber-study-bottom button{
    border: 0;
    background-color: #204056;
    color: white;
    height: 40px;
    margin-top: 5px;
    margin-right: 5px;
    display: inline;
}
.navbar-study-bottom .right-navber-study-bottom button.select-file{
    background-color: #00b4a2;
    color: white;
}
.navbar-study-bottom .right-navber-study-bottom p{
    line-height: 50px;
    margin-right: 5px;
    display: inline;
}

.navbar-study-bottom .right-navber-study-bottom .right-next-problem{
    float: right;
    height: 100%;
}
/*end studypage*/

/*Drag and Drow*/

.simpleDemo ul[dnd-list] {
    min-height: 40px;
    padding-left: 0px;
}


.simpleDemo ul[dnd-list] .dndDraggingSource {
    display: none;
}


.simpleDemo ul[dnd-list] .dndPlaceholder {
    background-color: #ddd;
    display: block;
    min-height: 40px;
}

.simpleDemo ul[dnd-list] li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: block;

    padding: 10px 15px 0px 15px;

    margin: 5px;

}


.simpleDemo ul[dnd-list] li.selected {
    background-color: #dff0d8;
    color: #3c763d;
}
/*Drag and Drow*/