body {
    background: #ECEFF1;
}

.page-max-width {
    max-width: 1200px;
    margin-left: 7%;
    margin-top: 1%;
}

.demo-card-event.mdl-card {
    width: 256px;
    height: 256px;
    background: #3E4EB8;
}
.demo-card-event > .mdl-card__actions {
    border-color: rgba(255, 255, 255, 0.2);
}
.demo-card-event > .mdl-card__title {
    align-items: flex-start;
}
.demo-card-event > .mdl-card__title > h4 {
    margin-top: 0;
}
.demo-card-event > .mdl-card__actions {
    display: flex;
    box-sizing:border-box;
    align-items: center;
}
.demo-card-event > .mdl-card__actions > .material-icons {
    padding-right: 10px;
}
.demo-card-event > .mdl-card__title,
.demo-card-event > .mdl-card__supporting-text,
.demo-card-event > .mdl-card__actions,
.demo-card-event > .mdl-card__actions > .mdl-button {
    color: #fff;
}

img.article-image {
    width: 100%;
    height: auto;
}

.center {
    text-align: center;
    border: 3px solid green;
}

.right {
    text-align: right;
}

.mdl-textfield {
    width: 100%;
}

.big-card {
    padding: 20px;
}