<div class="modal-header">
    <h3 class="modal-title" id="modal-title" style="text-align: center">Drop IP</h3>
</div>
<div class="modal-body" id="modal-body">
    <h2 style="text-align: center">{{student.ip}}192.168.1.1</h2>
    <h5 style="text-align: center">{{student.name}}</h5>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" type="button" ng-click="confirmDropIP()">Drop</button>
    <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>

</div>
