<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                Menu
            </button>
            <a class="navbar-brand" ng-click="go('/dashboardstudent')" style="cursor: pointer">CodeRoom</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


            <ul class="nav navbar-nav navbar-right">

                <li class="dropdown" >
                    <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="padding: 10px 0 10px 5px">
                        <div class="cricle-user-dropdown">
                            <img src="{{user.image}}">
                        </div>
                        <span style="margin-right: 5px">{{user.name}}</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a ng-click="go('/profilestudent')" style="cursor: pointer">Profile</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a ng-click="logout()" style="cursor: pointer">Log out</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container">
    <h2 style="text-align: center;color: #00b4a2">Courses</h2>
</div>
<div class="container">
    <div class="row">

        <div class="col-md-4 col-xs-12" ng-repeat="myCourse in dataDashboard.student.courses">
            <div class="card-course">
                <img src="{{myCourse.image}}">
                <div class="headder-card-course">
                    <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
                    <h3>{{myCourse.name}}</h3>


                </div>
                <div class="button-all-card">
                    <div class="row">
                        <div class="col-md-12">
                            <button ng-click="go('/coursestudent/'+myCourse.course_id)">Join</button>
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>

</div>
<div class="container">
    <h2 style="text-align: center;color: #fc6e51">Courses</h2>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th style="text-align: center">#</th>
                    <th>Courses</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="course in dataDashboard.courses">
                    <td style="text-align: center">{{$index+1}}</td>
                    <td>
                        <div class="list-card-course" style="background-color: inherit">
                            <div class="square-img-card-course">
                                <img src="{{course.image}}">
                            </div>
                            <div class="content-list-card-course">
                                <h3>{{course.name}}</h3>
                                <h4>Teachers: <span>{{course.teachers_count}}</span> Students: <span>{{course.students_count}}</span> Lessons: <span>{{course.lessons_count}}</span></h4>
                            </div>
                        </div>
                    </td>
                    <td><button class="btn btn-default" style="margin: auto;display: block;margin-top: 25px" ng-click="go('/viewcoursestudent/'+course.id)">View Course</button></td>
                    <td><button class="btn btn-success" style="margin: auto;display: block;margin-top: 25px" ng-click="joinCourse ('sm')">Join</button></td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

