<div ng-include="'js/views/student/navbar.html'"></div>
<div class="container">
    <h2 style="text-align: center;color: #00b4a2">Courses</h2>
</div>
<div class="container">
    <div class="row">

        <div class="col-md-4 col-xs-12" ng-repeat="myCourse in dataDashboard.student.courses" ng-show="myCourse.pivot.status === 'enable'">
            <div class="card-course" >
                <img  src="{{myCourse.image}}">
                <div class="headder-card-course">
                    <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
                    <h3>{{myCourse.name}}</h3>


                </div>
                <div class="button-all-card">
                    <div class="row">
                        <div class="col-md-12">
                            <button ng-click="go('/coursestudent/'+myCourse.course_id)">Join</button>
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>

</div>
<span ng-show="dataDashboard.courses.length !== 0">
    <div class="container">
    <h2 style="text-align: center;color: #fc6e51">Courses</h2>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th style="text-align: center">#</th>
                    <th>Courses</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="course in dataDashboard.courses" >
                    <td style="text-align: center">{{$index+1}}</td>
                    <td>
                        <div class="list-card-course" style="background-color: inherit" >
                            <div class="square-img-card-course">
                                <img src="{{course.image}}">
                            </div>
                            <div class="content-list-card-course">
                                <h3>{{course.name}} ({{course.status}})</h3>
                                <h4>Teachers: <span>{{course.teachers_count}}</span> Students: <span>{{course.students_count}}</span> Lessons: <span>{{course.lessons_count}}</span></h4>
                            </div>
                        </div>
                    </td>
                    <td><button class="btn btn-default" style="margin: auto;display: block;margin-top: 25px" ng-click="go('/viewcoursestudent/'+course.id)">View Course</button></td>
                    <td><button class="btn btn-success" style="margin: auto;display: block;margin-top: 25px" ng-click="joinCourse ('sm',undefined,course.id)" ng-disabled="course.status === 'disable'">Join</button></td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</span>


