<div ng-include="'js/views/student/navbar.html'"></div>

<div class="container">
    <div class="row">

        <div class="col-md-12">
            <div class="card-profile">
                <div class="content-card-profile">
                    <div class="circle-img-card-profile">
                        <img src="{{dataProfile.image}}">
                    </div>

                    <h1>{{dataProfile.name}}</h1>
                    <div class="button-all-card" style="margin: 0">
                        <div class="row">
                            <div class="col-md-6">
                                <button ng-click="go('/editprofilestudent')">Edit Profile</button>
                            </div>
                            <div class="col-md-6">
                                <button ng-click="go('/changepasswordstudent')">Change Password</button>

                            </div>

                        </div>
                    </div>
                    <h2 style="color: #00b4a2">Courses</h2>
                    <div class="row">
                        <div class="col-md-4" ng-repeat="course in dataProfile.courses">
                            <div class="card-course">
                                <img src="java.png">
                                <div class="headder-card-course">
                                    <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
                                    <h3>{{course.name}}</h3>


                                </div>
                                <div class="button-all-card">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button ng-click="go('/coursestudent'+course.id)">Join</button>
                                        </div>

                                    </div>
                                </div>


                            </div>
                        </div>

                    </div>
                    <h2 style="color: #4fc1e9">Badges</h2>
                </div>

            </div>





        </div>
    </div>
</div>



