<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                Menu
            </button>
            <a class="navbar-brand" ng-click="go('/dashboardstudent')" style="cursor: pointer">CodeRoom</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


            <ul class="nav navbar-nav navbar-right">

                <li class="dropdown" >
                    <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="padding: 10px 0 10px 5px">
                        <div class="cricle-user-dropdown">
                            <img src="{{user.image}}">
                        </div>
                        <span style="margin-right: 5px">{{user.name}}</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a ng-click="go('/profilestudent')" style="cursor: pointer">Profile</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a ng-click="logout()" style="cursor: pointer">Log out</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container">
    <div class="row">

        <div class="col-md-12">
            <div class="card-profile">
                <div class="content-card-profile">
                    <div class="circle-img-card-profile">
                        <img src="{{dataProfile.image}}">
                    </div>

                    <h1>Thanadej Phadtong</h1>
                    <div class="button-all-card" style="margin: 0">
                        <div class="row">
                            <div class="col-md-6">
                                <button ng-click="go('/editprofilestudent')">Edit Profile</button>
                            </div>
                            <div class="col-md-6">
                                <button ng-click="go('/changepasswordstudent')">Change Password</button>

                            </div>

                        </div>
                    </div>
                    <h2 style="color: #00b4a2">Courses</h2>
                    <div class="row">
                        <div class="col-md-4" ng-repeat="course in dataProfile.courses">
                            <div class="card-course">
                                <img src="java.png">
                                <div class="headder-card-course">
                                    <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
                                    <h3>{{course.name}}</h3>


                                </div>
                                <div class="button-all-card">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button ng-click="go('/coursestudent'+course.id)">Join</button>
                                        </div>

                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="col-md-12">
                            <uib-accordion close-others="oneAtATime" >
                                <div uib-accordion-group class="panel-default" heading="{{course.name}}" ng-repeat="course in dataProfile.courses" style="border-radius: 0;    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);" >
                                    <div class="col-md-6"ng-repeat="lesson in course.lessons">
                                        <div class="card-lesson" >
                                            <div class="content-card-lesson">
                                                <div class="col-md-2 col-xs-12" style="padding: 0;margin: 0">
                                                    <div class="prograss-wraper">
                                                        <div class="current">
                                                            {{80}}%
                                                        </div>
                                                        <round-progress
                                                                max="100"
                                                                current="80"
                                                                color="#00b4a2"
                                                                bgcolor="#e6e9ed"
                                                                radius="30"
                                                                stroke="2"
                                                                semi="false"
                                                                rounded="flase"
                                                                clockwise="true"
                                                                responsive="true"
                                                                duration="100"
                                                                animation="easeOutCubic"
                                                                animation-delay="0"></round-progress>
                                                    </div>
                                                </div>
                                                <div class="col-md-10 col-xs-6" style="padding: 0;margin: 0">
                                                    <div class="text-content-card-lesson">
                                                        <h3>{{$index+1}}.{{lesson.name}}</h3>
                                                        <h4>Problems: <span>{{lesson.problems_count}}</span></h4>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>



                                </div>
                            </uib-accordion>
                        </div>
                    </div>
                    <h2 style="color: #4fc1e9">Badges</h2>
                </div>

            </div>





        </div>
    </div>
</div>



