


        <nav class="navbar-study">
            <div class="container">
                <div class="navbar-study-left">
                    <div class="button-opennav-problem" ng-click="openNavView()">
                        1.For
                    </div>
                </div>
                <div class="navbar-study-right">
                    <div class="navbar-study-user-circle">
                        <div class="circle-user-button">
                            <img src="Thanadej.jpg">
                        </div>

                    </div>
                </div>

            </div>

        </nav>
        <div class="show-problem-detail" id="hover" style="border-top: 0">
            <div class="container">
                <div class="col-md-3">
                    <div style="width: 100%;background-color: #204060;height: 60px;text-align: center;margin-bottom: 10px">
                        <h3 style="text-align: center;margin:0px 0;color: white;line-height: 60px">Problems</h3>
                    </div>
                    <div class="navber-problem">
                        <a>1.For</a>
                        <a>1.For</a>
                        <a>1.For</a>
                    </div>
                </div>
                <div class="col-md-9">

                    <div>
                        <table class="table" style="border: 1px solid #204060;">
                            <tr style="background-color: #204060;color: white;">
                                <th>hello</th>
                            </tr>
                            <tr >
                                <td>no</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" >
            <div class="col-md-6" style="margin-top: 10px;height: 498.5px">
                <iframe class="iframe-zone" src="test.pdf"></iframe>
            </div>
            <div class="col-md-6" style="margin-top: 10px;height: 500px">
                <div class="ace-zone">
                    <select style="width: 100%;margin-bottom: 5px;border: 1px solid #204060;border-radius: 0">
                        <option value="volvo">Volvo</option>
                        <option value="saab">Saab</option>
                    </select>
                    <div id="editor" style="width: 100%;height: 500px;border: 1px solid #204060"></div>
                </div>

            </div>
        </div>

        <div class="container">
            <div class="col-md-12">
                <div class="show-error">
                    <p style="display: inline">
                    </p>
                </div>
            </div>
        </div>
        <nav class="navbar-study" style="margin-top: 10px">
            <div class="container">
                <div class="navbar-study-bottom-left">
                    <h4 class="error-massage">Class is fail</h4>
                </div>
                <div class="navber-study-bottom-right">
                    <button style="background-color: red">Select File</button>
                    <p>.java</p>
                    <button>SUBMIT</button>
                    <div class="navber-study-bottom-next">
                        <button>NEXT</button>
                    </div>
                </div>
            </div>
        </nav>




