        <div style="height: 100%;width: 100%;" >

            <nav class="navbar navbar-default navbar-fixed-top" style="margin: 0;">

                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header" style="float: left">
                        <button type="button" class="btn btn-default navbar-btn" ng-click="openHover()">{{problem.name}}</button>
                    </div>


                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="float: right">


                        <ul class="nav navbar-nav navbar-right">

                            <li class="dropdown" >
                                <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="padding: 10px 5px 10px 5px">
                                    <div class="cricle-user-dropdown">
                                        <img src="{{user.image}}">
                                    </div>
                                    <span style="margin-right: 5px">{{user.name}}</span>
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a ng-click="go('/profilestudent')" style="cursor: pointer">Profile</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a ng-click="logout()" style="cursor: pointer">Log out</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                    <a style="text-align: center;" ng-click="go('/coursestudent/'+study.course_id)">
                        <h4 style="margin: 0;line-height: 50px">{{course_name}}</h4>
                    </a>
                </div><!-- /.container-fluid -->
            </nav>
            <div class="hover-nav" id="hover">
                <div class="hadder-hover-nav">
                    <h4>{{study.name}}</h4>
                </div>
                <div class="list-problem" >
                    <div class="problem-name" ng-repeat="problem in study.problems" ng-click="selectProblem($index)">
                        <p ng-class="{'active': problem.active }">{{problem.name}}</p>
                    </div>


                </div>
                <div class="show-problem-detail2">

                <span>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Class {{class.class}}Runners</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="card-detail-class class">
                                        <p>Class</p>

                                        <div style="float: left">
                                            <h4>Runners</h4>
                                        </div>
                                        <div style="float: right">
                                            <h4>10 Point</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card-detail-class package">
                                        <p>Package</p>
                                        <div style="float: left">
                                            <h4>Runners</h4>
                                        </div>
                                        <div style="float: right">
                                            <h4>5 Point</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card-detail-class enclose">
                                        <p>Enclose</p>
                                        <div style="float: left">
                                            <h4>Runner</h4>
                                        </div>
                                        <div style="float: right">
                                            <h4>10 Point</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card-detail-class extend">
                                        <p>Extend</p>
                                        <div style="float: left">
                                            <h4>-</h4>
                                        </div>
                                        <div style="float: right">
                                            <h4>0 Point</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card-detail-class constructor">
                                        <p class="type-card-detail-class">Constructor</p>
                                        <div class="name-point-card">
                                            <h4 class="name">Runners</h4>
                                            <h4 class="point">10 Point</h4>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <p>access_modifier</p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p>public</p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p>non_access_modifier</p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p>-</p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p>data_type</p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p>-</p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p>parameter</p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p>(int x, String y)</p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p>recursive</p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p>-</p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p>loop</p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p>-</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card-detail-class attribute">
                                        <p class="type-card-detail-class">Attribute</p>
                                        <div class="name-point-card">
                                            <h4 class="name">Speed</h4>
                                            <h4 class="point">5 Point</h4>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <p>access_modifier</p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p>public</p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p>non_access_modifier</p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p>static final</p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p>data_type</p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p>String</p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p>parameter</p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p>-</p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p>recursive</p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p>-</p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p>loop</p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p>-</p>
                                            </div>

                                        </div>


                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card-detail-class method">
                                        <p class="type-card-detail-class">Method</p>
                                        <div class="name-point-card">
                                            <h4 class="name">Run</h4>
                                            <h4 class="point">10 Point</h4>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <p>access_modifier</p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p>public</p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p>non_access_modifier</p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p>static final</p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p>return_type</p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p>String</p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p>parameter</p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p>(int x, String y)</p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p>recursive</p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p>true</p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p>loop</p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p>true</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                    </span>
            </div>


                    <span ng-repeat=" file in result.submission_files">
                        <div class="panel panel-default" style="border-radius: 0">
                            <div class="panel-heading" style="background-color: white;background-image: none">{{file.filename}}</div>
                            <div class="panel-body">
                                <table>
                                    <thead>
                                    <tr>
                                        <th ng-repeat="score in file.outputs">{{$index+1}}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td ng-repeat="score in file.outputs">{{score.score}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </span>


                    <div class="panel panel-default" ng-repeat="file in result.submission_files" style="border-radius: 0">
                        <span ng-repeat="class in file.results">
                            <div class="panel-heading" style="padding: 0px 10px;margin:5px 0;font-size: 20px">
                                {{class.class}}
                            </div>
                        <div class="panel-body" style="overflow: auto;padding: 0">
                            <table class="table" >
                                <thead class="thead-inverse">
                                <tr>
                                    <th>Type</th>
                                    <th>access_modifier</th>
                                    <th>non_access_modifier</th>
                                    <th>data_type</th>
                                    <th>return_type</th>
                                    <th>name</th>
                                    <th>parameter</th>
                                    <th>recursive</th>
                                    <th>loop</th>
                                    <th>Score</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Class</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td ng-show="class.class === ''">-</td>
                                    <td ng-show="class.class !== ''">{{class.class}}</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>{{class.score.class}}</td>
                                </tr>
                                <tr>
                                    <td>Package</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td ng-show="class.package === ''">-</td>
                                    <td ng-show="class.package !== ''">{{class.package}}</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>{{class.score.package}}</td>

                                </tr>
                                <tr>
                                    <td>Enclose</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td ng-show="class.enclose === ''">-</td>
                                    <td ng-show="class.enclose !== ''">{{class.enclose}}</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>{{class.score.enclose}}</td>

                                </tr>
                                <tr>
                                    <td>Extends</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td ng-show="class.extends === ''">-</td>
                                    <td ng-show="class.extends !== ''">{{class.extends}}</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td ng-show="class.extends === ''">-</td>
                                    <td ng-show="class.extends !== ''"><input ng-model="class.score.extends"></td>
                                </tr>
                                <tr ng-repeat="constructor in class.constructors">
                                    <td>Constructor</td>
                                    <td ng-show="constructor.access_modifier!==''">{{constructor.access_modifier}}</td>
                                    <td ng-show="constructor.access_modifier===''">-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td ng-show="constructor.name!==''">{{constructor.name}}</td>
                                    <td ng-show="constructor.name===''">-</td>
                                    <td ng-show="constructor.parameter!==''">{{constructor.parameter}}</td>
                                    <td ng-show="constructor.parameter===''">-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td ng-show="constructor.score!==''">{{constructor.score}}</td>
                                    <td ng-show="constructor.score===''">-</td>
                                </tr>
                                <tr ng-repeat="attribute in class.attributes">
                                    <td>Attribute</td>
                                    <td ng-show="attribute.access_modifier!==''">{{attribute.access_modifier}}</td>
                                    <td ng-show="attribute.access_modifier===''">-</td>
                                    <td ng-show="attribute.non_access_modifier!==''">{{attribute.non_access_modifier}}</td>
                                    <td ng-show="attribute.non_access_modifier===''">-</td>
                                    <td ng-show="attribute.data_type!==''">{{attribute.data_type}}</td>
                                    <td ng-show="attribute.data_type===''">-</td>
                                    <td>-</td>
                                    <td ng-show="attribute.name!==''">{{attribute.name}}</td>
                                    <td ng-show="attribute.name===''">-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td ng-show="attribute.score!==''">{{attribute.score}}</td>
                                    <td ng-show="attribute.score===''">-</td>

                                </tr>
                                <tr ng-repeat="method in class.methods">
                                    <td>Method</td>
                                    <td ng-show="method.access_modifier!==''">{{method.access_modifier}}</td>
                                    <td ng-show="method.access_modifier===''">-</td>
                                    <td ng-show="method.non_access_modifier!==''">{{method.non_access_modifier}}</td>
                                    <td ng-show="method.non_access_modifier===''">-</td>
                                    <td>-</td>
                                    <td ng-show="method.return_type!==''">{{method.return_type}}</td>
                                    <td ng-show="method.return_type===''">-</td>
                                    <td ng-show="method.name!==''">{{method.name}}</td>
                                    <td ng-show="method.name===''">-</td>
                                    <td ng-show="method.parameter!==''">{{method.parameter}}</td>
                                    <td ng-show="method.parameter===''">-</td>
                                    <td ng-show="method.recursive!==''">{{method.recursive}}</td>
                                    <td ng-show="method.recursive===''">-</td>
                                    <td ng-show="method.loop!==''">{{method.loop}}</td>
                                    <td ng-show="method.loop===''">-</td>
                                    <td ng-show="method.score!==''">{{method.score}}</td>
                                    <td ng-show="method.score===''">-</td>

                                </tr>
                                </tbody>




                            </table>
                        </div>
                        </span>

                    </div>



                </div>
            </div>
            <div class="main-study-middle">
                <div class="left-main-study-middle">
                    <iframe ng-src="{{problem.question}}"></iframe>
                    <div class="show-error"></div>
                </div>
                <div class="right-main-study-middle">

                    <div class="list-file">
                        <button ng-repeat="file in allFiles" ng-click="changeFiles($index)">{{file.filename}}</button>
                    </div>

                    <div ui-ace ng-model="aceValue"></div>
                </div>
            </div>
            <div class="navbar-study-bottom">
                <div class="left-navber-study-bottom">
                    <p style="font-size: 18px" ng-class="massageCompare.status ? 'complete':'error'">{{massageCompare.content}}</p>
                </div>
                <div class="right-navber-study-bottom">
                    <button class="select-file" type="file" ngf-select ng-model="zip" name="zip" accept="/*" >Select Files</button>
                    <p>{{zip.name}}</p>
                    <button ng-click="submitFile()">Submit</button>
                    <div class="right-next-problem">
                        <button>Next</button>
                    </div>
                </div>

            </div>
        </div>


