        <div style="height: 100%;width: 100%;">

            <div class="navbar-study-top">
                <div class="navber-button-problem">

                </div>
                <div class="navbar-user-study-top">
                    <div class="circle-user-study">
                        <img src="Thanadej.jpg">
                    </div>
                    <div class="navber-user-study-top-content">
                        <div class="card-navber-user-study-content">
                            <img src="Thanadej.jpg">
                            <p>07570497</p>
                            <h4>Thanadej Phadtong</h4>
                        </div>
                        <div class="button-navber-user-study-content">
                            <div class="profile-button-navber-user-study-content">
                                Profile
                            </div>
                            <div class="logout-button-navber-user-study-content" ng-click="logout()">
                                Logout
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hover-nav">
                <div class="hadder-hover-nav">
                    <h4>Lesson Name</h4>
                </div>
                <div class="list-problem">
                    <div class="hedder-list-problem">
                        <p>1.For</p>
                    </div>
                    <div class="problem">
                        <p>2.While</p>
                    </div>
                    <div class="problem">
                        <p>2.While</p>
                    </div>
                </div>
                <div class="show-problem-detail2">
                    <table class="table">
                        <tr style="background-color: #204056;color: white">
                            <th>hello</th>
                        </tr>
                        <tr>
                            <td>hello</td>
                        </tr>


                    </table>

                </div>
            </div>
            <div class="main-study-middle">
                <div class="left-main-study-middle">
                    <iframe src="test.pdf"></iframe>
                    <div class="show-error"></div>
                </div>
                <div class="right-main-study-middle">
                    <select>
                        <option>hello</option>
                    </select>
                    <div id="editor" ></div>
                </div>
            </div>
            <div class="navbar-study-bottom">
                <div class="left-navber-study-bottom">
                    <p>Error</p>
                </div>
                <div class="right-navber-study-bottom">
                    <button class="select-file">Select File</button>
                    <p>.java</p>
                    <button>Submit</button>
                    <div class="right-next-problem">
                        <button>Next</button>
                    </div>
                </div>

            </div>
        </div>


