<nav class="navbar">
    <div class="container">
        <div class="navbar-brand">
            <a href="#/">CODEROOM</a>
        </div>
        <div class="navbar-user">
            <div class="circle-user">
                <img src="Thanadej.jpg">
            </div>
        </div>
    </div>

</nav>
<div class="container">
    <div style="width: 100%;background-color: #204060;height: 60px;text-align: center;margin-bottom: 20px">
        <h3 style="text-align: center;margin:30px 0;color: white;line-height: 60px">Teachers</h3>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12" ng-repeat="teacher in viewMember.teachers">
        <div class="card-teacher">
            <img ngf-src="teacher.image">
            <h4>{{teacher.name}}</h4>
        </div>
    </div>


</div>
<div class="container">
    <div style="width: 100%;background-color:#204060;height: 60px;text-align: center;margin-bottom: 20px">
        <h3 style="text-align: center;margin:30px 0;color: white;line-height: 60px">Students</h3>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12"  ng-repeat="student in viewMember.students">
        <div class="card-student">
            <img ngf-src="student.image">
            <p>{{student.student_id}}</p>
            <p>{{student.name}}</p>
        </div>
    </div>

</div>