<nav class="navbar">
    <div class="container">
        <div class="navbar-brand">
            <a ng-click="go('/dashboardteacher')">CODEROOM</a>
        </div>
        <div class="navbar-user">
            <div class="circle-user" ng-click="openCarduser()">
                <img src="{{user.image}}">
            </div>
            <div class="navber-user-content" id="showCarduser">
                <div class="card-navbar-content">
                    <img src="{{user.image}}">

                    <h4>{{user.name}}</h4>
                </div>
                <div class="zone-button-navbar-user-content" >
                    <div class="button-navbar-user-content-profile" ng-click="go('/profilestudent')">
                        Profile
                    </div>
                    <div class="button-navbar-user-content-profile" ng-click="logout()" style="border-right: 0;color: #00b4a2">
                        Logout
                    </div>
                </div>
            </div>
        </div>
    </div>

</nav>

<div class="simpleDemo row">
    <div class="container">
        <div class="col-md-12">

            <div class="row">
                <div class="col-md-6" ng-repeat="(listName, student) in addStudentsort">
                    <div style="width: 100%;background-color: #204060;height: 60px;text-align: center">
                        <h3 style="text-align: center;margin:0px 0;color: white;line-height: 60px">{{listName}}</h3>
                    </div>
                    <div class="panel" style="border-radius: 0">
                        <div class="panel-body">
                            <ul dnd-list="student">
                                <!-- The dnd-draggable directive makes an element draggable and will
                                     transfer the object that was assigned to it. If an element was
                                     dragged away, you have to remove it from the original list
                                     yourself using the dnd-moved attribute -->
                                <li ng-repeat="item in student" ng-show="item.pivot.status == 'enable'"
                                    dnd-draggable="item"
                                    dnd-moved="student.splice($index, 1)"
                                    dnd-effect-allowed="move"

                                >
                                    <div class="chapter" >
                                        <p style="margin-right: 5px;display: inline">{{item.student_id}}</p>
                                        <p style=";display: inline">{{item.name}}</p>

                                    </div>

                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <button style="float: right;background-color: #204056;color: white;border: none;padding: 10px">Submit</button>

        </div>
        <div class="col-md-6">
            <div style="width: 100%">

            </div>
        </div>

    </div>




</div>
