<div ng-include="'js/views/teacher/navbar.html'"></div>
<div class="container" style="margin-bottom: 40px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="card-course">
                <img src="{{course.image}}">
                <div class="headder-card-course">
                    <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
                    <h3>{{course.name}}</h3>


                </div>
                <div class="button-all-card">
                    <div class="row">
                        <div class="col-md-4">
                            <h4 >Lessons</h4>
                        </div>
                        <div class="col-md-8">
                            <div class="col-md-6">
                                <button ng-click="go('/sortlessonteacher/'+course.id)">Sort Lessons</button>
                            </div>
                            <div class="col-md-6">
                                <button ng-click="go('/addlessonteacher/'+course.id)">Add Lesson</button>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <h4>Announcements</h4>
                        </div>
                        <div class="col-md-8">
                            <div class="col-md-12">
                                <button ng-click="go('/addannouncementteacher/'+course.id)">Add Announcment</button>
                            </div>
                        </div>
                        <div class="col-md-4">
                        <h4>Teachers&Students</h4>
                    </div>
                        <div class="col-md-8">
                            <div class="col-md-12">
                                <button ng-click="go('/viewMemberteacher/'+course.id)">View</button>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <h4>Show Codecourse</h4>
                        </div>
                        <div class="col-md-8">
                            <div class="col-md-12">
                                <button ng-click="showCodeCourse('sm',undefined,course.token)">Show</button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-8"><h1 style="color: #49176d;text-align: center">Lessons</h1></div>
        <div class="col-md-4"><h1 style="color: #d20962;text-align: center">Announcements</h1></div>
        <div class="col-md-8" >

        <div class="col-md-12" ng-repeat="lesson in course.lessons">
            <div class="card-lesson"  >
                <div class="content-card-lesson"  ng-click="go('/listproblemteacher/'+lesson.id)">

                    <div class="col-md-4 col-xs-6" style="padding: 0;margin: 0">
                        <div class="text-content-card-lesson">
                            <h3>{{lesson.name}}</h3>
                            <h4>Problems: <span>{{lesson.problems_count}}</span></h4>
                        </div>
                    </div>
                </div>
                <div class="button-all-card">
                    <div class="row">
                        <div class="col-md-6">
                            <button ng-click="go('/editlessonteacher/'+ lesson.id)">Edit</button>
                        </div>
                        <div class="col-md-6">
                            <button ng-click="checkDeleteLesson('lg',undefined,lesson.id,lesson.name)">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        </div>
        <div class="col-md-4" >
            <div class="col-md-12" ng-repeat="announcement in course.announcements">
                <div class="card-announcement" style="margin-bottom: 0;">
                    <div class="content-card-announcement" ng-click="go('/readannouncementteacher/'+announcement.id)">

                        <div class="text-content-card-announcement">
                            <h3>{{announcement.title}}</h3>
                            <p><span class="glyphicon glyphicon-time"></span>{{announcement.created_at}}</p>

                        </div>

                    </div>

                </div>
                <div class="button-all-card" style="margin: 0 10px 0 10px;width: 100%;    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
">
                    <div class="row">
                        <div class="col-md-6">
                            <button ng-click="go('/editannouncementteacher/'+ announcement.id)">Edit</button>
                        </div>
                        <div class="col-md-6">
                            <button ng-click="checkDeleteAnnouncement('lg',undefined,announcement.id,announcement.title)">Delete</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>





