<nav class="navbar">
    <div class="container">
        <div class="navbar-brand">
            <a href="#/">CODEROOM</a>
        </div>
        <div class="navbar-user">
            <div class="circle-user">
                <img src="Thanadej.jpg">
            </div>
        </div>
    </div>

</nav>
<div class="container">
    <div class="col-md-4" style="padding: 0">
        <div class="img-card-coursepage">
            <img src="c.png">
        </div>
    </div>
    <div class="col-md-8" style="padding: 0">
        <div class="detail-card-coursepage" >
            <div class="headder-card-coursepage">
                <h3>Selected Topics in Software Engineering </h3>
            </div>
            <div class="l-a-f-card-course">
                <div class="col-md-12" style="margin-bottom: 30px;padding: 0">
                    <div class="icon-l-a-f-card-course">
                        <span class="glyphicon glyphicon-book"></span>
                        <span style="margin-left: 5px">{{10000}}</span>

                        <a style="color: #00b4a2;">Sort</a>
                        <a style="background-color: #00b4a2;color: white;">Add</a>
                    </div>


                </div>
                <div class="col-md-12" style="margin-bottom: 30px;padding: 0">
                    <div class="icon-l-a-f-card-course" >
                        <i class="fa fa-bullhorn" aria-hidden="true"></i>

                        <span style="margin-left: 5px">{{10000}}</span>
                        <a style="background-color: #00b4a2;color: white;border-left: none;">Add</a>

                    </div>

                </div>
                <div class="col-md-12" style="margin-bottom: 30px;padding: 0">
                    <div class="icon-l-a-f-card-course">
                        <i class="fa fa-users"></i>
                        <span style="margin-left: 5px">{{10000}}</span>
                        <a style="background-color: #00b4a2;color: white;border-left: none">View</a>
                    </div>

                </div>







            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="col-md-8 col-sm-8 col-xs-12" >
        <div style="width: 100%;background-color: #204060;height: 60px;margin-bottom: 20px">
            <h3 style="margin:30px 0;color: white;line-height: 60px;padding-left: 15px">Lessons</h3>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12" style="padding: 0">
            <div class="list-course" style="padding-left: 15px">



                <div class="list-course-headder">
                    <h4 style="margin: 0">For</h4>
                </div>
                <div style="position: relative;display: block">
                    <div class="list-course-icon" style="left: 0">
                        <span>Problems</span>
                        <span>{{5}}</span>
                        <span>Quiz</span>
                        <span>{{5}}</span>

                    </div>
                </div>
                <div class="list-course-join">
                    <p>Edit</p>
                </div>
                <div class="list-course-join" style="background-color: white">
                    <p style="color: #00b4a2">Delete</p>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12" style="padding: 0">
            <div class="list-course" style="padding-left: 15px">



                <div class="list-course-headder">
                    <h4 style="margin: 0">For</h4>
                </div>
                <div style="position: relative;display: block">
                    <div class="list-course-icon" style="left: 0">
                        <span>Problems</span>
                        <span>{{5}}</span>
                        <span>Quiz</span>
                        <span>{{5}}</span>

                    </div>
                </div>
                <div class="list-course-join">
                    <p>Edit</p>
                </div>
                <div class="list-course-join" style="background-color: white">
                    <p style="color: #00b4a2">Delete</p>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12" style="padding: 0">
            <div class="list-course" style="padding-left: 15px">



                <div class="list-course-headder">
                    <h4 style="margin: 0">For</h4>
                </div>
                <div style="position: relative;display: block">
                    <div class="list-course-icon" style="left: 0">
                        <span>Problems</span>
                        <span>{{5}}</span>
                        <span>Quiz</span>
                        <span>{{5}}</span>

                    </div>
                </div>
                <div class="list-course-join">
                    <p>Edit</p>
                </div>
                <div class="list-course-join" style="background-color: white">
                    <p style="color: #00b4a2">Delete</p>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-4 col-sm-4 col-xs-12" >
        <div style="width: 100%;background-color: #204060;height: 60px;margin-bottom: 20px">
            <h3 style="margin:30px 0;color: white;line-height: 60px;padding-left: 15px">Announces</h3>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12" style="padding: 0">
            <div class="announce-list">
                <div class="announce-date">
                    00.38 20/1/2560
                </div>
                <div class="announce-detail">
                    <h4>Annonunce name</h4>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12" style="padding: 0">
            <div class="announce-list">
                <div class="announce-date">
                    00.38 20/1/2560
                </div>
                <div class="announce-detail">
                    <h4>Annonunce name</h4>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12" style="padding: 0">
            <div class="announce-list">
                <div class="announce-date">
                    00.38 20/1/2560
                </div>
                <div class="announce-detail">
                    <h4>Annonunce name</h4>
                </div>
            </div>
        </div>
    </div>
</div>
