<div ng-include="'js/views/teacher/navbar.html'"></div>
<div class="container">
    <h2 style="text-align: center;color: #00b4a2">Course</h2>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-xs-12" ng-repeat="course in dataDashboard.teacher.courses">
            <div class="card-course">
                <img src="{{course.image}}">
                <div class="headder-card-course">
                    <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
                    <h3>{{course.name}}</h3>


                </div>
                <div class="button-all-card">
                    <div class="row">
                        <div class="col-md-12">
                            <button ng-click="go('/courseteacher/'+course.course_id)">Join</button>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>


</div>
