<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                Menu
            </button>
            <a class="navbar-brand" ng-click="go('/dashboardteacher')" style="cursor: pointer">CodeRoom</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


            <ul class="nav navbar-nav navbar-right">

                <li class="dropdown" >
                    <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="padding: 10px 0 10px 5px">
                        <div class="cricle-user-dropdown">
                            <img src="{{user.image}}">
                        </div>
                        <span style="margin-right: 5px">{{user.name}}</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a ng-click="go('/profilestudent')" style="cursor: pointer">Profile</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a ng-click="logout()" style="cursor: pointer">Log out</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container">
    <div class="col-md-3">
        <div style="width: 100%">

        </div>
    </div>
    <div class="col-md-6">
        <div style="width: 100%;background-color: #204060;height: 60px;text-align: center">
            <h3 style="text-align: center;margin:0px 0;color: white;line-height: 60px">Edit Announcement</h3>
        </div>

        <div class="card-all-add">

            <div class="input-group" style="border: 1px solid #204056;margin-bottom: 10px">
                <span class="input-group-addon transparent" style="background-color: white;border: 0;border-right: 1px solid #204056;color: #204056"><i class="fa fa-bullhorn" aria-hidden="true"></i></span></span>
                <input class="form-control left-border-none" placeholder="Announcement name" type="text" name="announcement" ng-model="announcement.title" style="border: 0;border-radius: 0">
            </div>

            <textarea class="form-control" rows="7" id="comment" style="resize: none;border: 1px solid #204056" placeholder="Content" ng-model="announcement.content"></textarea>
            <button class="submit-card-all-add" type="submit" value="submit" ng-click="editAnnouncement()">Submit</button>

        </div>


    </div>
    <div class="col-md-3">
        <div style="width: 100%">

        </div>
    </div>
</div>