<nav class="navbar">
    <div class="container">
        <div class="navbar-brand">
            <a href="#/">CODEROOM</a>
        </div>
        <div class="navbar-user">
            <div class="circle-user">
                <img src="Thanadej.jpg">
            </div>
        </div>
    </div>
</nav>
<div class="container">

    <div class="col-md-12 col-sm-12 col-xs-12" style="padding: 0">
        <div class="list-course" style="padding-left: 15px">



            <div class="list-course-headder">
                <h4 style="margin: 0">For</h4>
            </div>
            <div style="position: relative;display: block">
                <div class="list-course-icon" style="left: 0">
                    <span>Problems</span>
                    <span>{{5}}</span>
                    <span>Quiz</span>
                    <span>{{5}}</span>

                </div>
            </div>
            <div class="list-course-join">
                <p>Add</p>
            </div>
            <div class="list-course-join" style="background-color: white">
                <p style="color: #00b4a2">Sort</p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div style="width: 100%;background-color: #204060;height: 60px;margin-bottom: 20px">
        <h3 style="margin:30px 0;color: white;line-height: 60px;padding-left: 15px">Problems</h3>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="list-course" style="padding-left: 15px">



            <div class="list-course-headder" style="height: 60px" >
                <h4 style="margin: 0;line-height: 50px">1.For</h4>
            </div>

            <div class="list-course-join">
                <p>Edit</p>
            </div>
            <div class="list-course-join" style="background-color: white">
                <p style="color: #00b4a2">Delete</p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="list-course" style="padding-left: 15px">



            <div class="list-course-headder" style="height: 60px" >
                <h4 style="margin: 0;line-height: 50px">2.For</h4>
            </div>

            <div class="list-course-join">
                <p>Edit</p>
            </div>
            <div class="list-course-join" style="background-color: white">
                <p style="color: #00b4a2">Delete</p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="list-course" style="padding-left: 15px">



            <div class="list-course-headder" style="height: 60px" >
                <h4 style="margin: 0;line-height: 50px">3.For</h4>
            </div>

            <div class="list-course-join">
                <p>Edit</p>
            </div>
            <div class="list-course-join" style="background-color: white">
                <p style="color: #00b4a2">Delete</p>
            </div>
        </div>
    </div>

</div>

