<div ng-include="'js/views/teacher/navbar.html'"></div>

<div class="container">

    <div style=" box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);" class="row">
        <div class="col-md-12">
            <table class="table table-hover" style="margin-bottom: 0;box-shadow: none;margin: 10px 0 0 0">
                <thead >
                <tr style="background-color: #e6e9ed">
                    <td>Problem Name</td>
                    <td>{{problem.name}}</td>
                </tr>
                </thead>
                <tbody>

                <tr>
                    <td>Description</td>
                    <td>{{problem.description}}</td>
                </tr>
                <tr>
                    <td>Time Limit</td>
                    <td>{{problem.timelimit}} s</td>
                </tr>
                <tr>
                    <td>Memory Limit</td>
                    <td>{{problem.memorylimit}} KB</td>
                </tr>
                <tr>
                    <td>Structure</td>
                    <td ng-show="problem.is_parse==='true'">Parse</td>
                    <td ng-show="problem.is_parse==='false'">Not Parse</td>
                </tr>
                </tbody>
            </table>
            <div class="button-all-card" style="margin-top: 0;margin-bottom: 10px;">
                <div class="row">
                    <div class="col-md-6">
                        <button ng-click="go('/editproblem/'+problem.id)">Edit</button>
                    </div>
                    <div class="col-md-6">
                        <button ng-click="checkDeleteProblem('lg',undefined,problem.id,problem.name)">Delete</button>
                    </div>
                </div>
            </div>
        </div>
        </div>




</div>




<div class="container">
    <div class="row">
        <div class="col-md-12" >
            <uib-accordion close-others="oneAtATime" >

                <div uib-accordion-group class="panel-default" is-open="status.open" ng-repeat="file in problem.problem_files" style="margin-top: 20px">
                    <uib-accordion-heading>
                        {{file.filename}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                    </uib-accordion-heading>
                    <table class="table">
                        <thead class="thead-inverse">
                        <tr>
                            <th>Inputs & Outputs</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Input</td>
                            <td ng-repeat="input in file.inputs">{{input.filename}}</td>
                        </tr>
                        <tr>
                            <td>Output</td>
                            <td ng-repeat="output in file.outputs">{{output.filename}}</td>
                        </tr>
                        </tbody>

                    </table>
                    <span ng-repeat="class in file.problem_analysis">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card-detail-class class">
                                        <p class="type-card-detail-class">Class</p>
                                        <div class="name-point-card">
                                            <h4 class="name">{{class.name_class}}</h4>
                                            <h4 class="point">{{class.score.class}} Point</h4>


                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <p>access_modifier</p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p>{{class.access_modifier_class }}</p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p>non_access_modifier</p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p>{{class.non_access_modifier_class}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card-detail-class package">

                                        <p class="type-card-detail-class">Package</p>
                                        <div class="name-point-card">
                                            <h4 class="name" ng-show="class.package!==''">{{class.package}}</h4>
                                            <h4 class="name" ng-show="class.package===''">-</h4>
                                            <h4 class="point" ng-show="class.package!==''">{{class.score.package}} Point</h4>


                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card-detail-class enclose">

                                        <p class="type-card-detail-class">Enclose</p>
                                        <div class="name-point-card">
                                            <h4 class="name" ng-show="class.enclose!=='null'">{{class.enclose}}</h4>
                                            <h4 class="name" ng-show="class.enclose==='null'">-</h4>
                                            <h4 class="point" ng-show="class.enclose!=='null'">{{class.score.enclose}} Point</h4>


                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card-detail-class extend">
                                        <p class="type-card-detail-class">Extend</p>
                                        <div class="name-point-card">
                                            <h4 class="name" ng-show="class.extends!==''">{{class.extends}}</h4>
                                            <h4 class="name" ng-show="class.extends===''">-</h4>
                                            <h4 class="point" ng-show="class.extends!==''">{{class.score.extends}} Point</h4>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4" ng-repeat="constructor in class.constructors">
                                    <div class="card-detail-class constructor">
                                        <p class="type-card-detail-class">Constructor</p>
                                        <div class="name-point-card">
                                            <h4 class="name">{{constructor.name}}</h4>
                                            <h4 class="point">{{constructor.score}} Point</h4>

                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <p>access_modifier</p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p ng-show="constructor.access_modifier!==''">{{constructor.access_modifier}}</p>
                                                <p ng-show="constructor.access_modifier===''">-</p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p>non_access_modifier</p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p>-</p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p>data_type</p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p>-</p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p>parameter</p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p ng-show="constructor.parameter!==''">{{constructor.parameter}}</p>
                                                <p ng-show="constructor.parameter===''">-</p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p>recursive</p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p>-</p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p>loop</p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p>-</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4" ng-repeat="attribute in class.attributes">
                                    <div class="card-detail-class attribute">
                                        <p class="type-card-detail-class">Attribute</p>
                                        <div class="name-point-card">
                                            <h4 class="name">{{attribute.name}}</h4>
                                            <h4 class="point">{{attribute.score}} Point</h4>

                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <p>access_modifier</p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p ng-show="attribute.access_modifier!==''">{{attribute.access_modifier}}</p>
                                                <p ng-show="attribute.access_modifier===''">-</p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p>non_access_modifier</p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p ng-show="attribute.non_access_modifier!=='null'">{{attribute.non_access_modifier}}</p>
                                                <p ng-show="attribute.non_access_modifier==='null'">-</p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p>data_type</p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p ng-show="attribute.data_type!==''">{{attribute.data_type}}</p>
                                                <p ng-show="attribute.data_type===''">-</p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p>parameter</p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p>-</p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p>recursive</p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p>-</p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p>loop</p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p>-</p>
                                            </div>

                                        </div>


                                    </div>
                                </div>
                                <div class="col-md-4" ng-repeat="method in class.methods">
                                    <div class="card-detail-class method">
                                        <p class="type-card-detail-class">Method</p>
                                        <div class="name-point-card">
                                            <h4 class="name">{{method.name}}</h4>
                                            <h4 class="point">{{method.score}}Point</h4>


                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <p>access_modifier</p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p ng-show="method.access_modifier!==''">{{method.access_modifier}}</p>
                                                <p ng-show="method.access_modifier===''">-</p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p>non_access_modifier</p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p ng-show="method.non_access_modifier!=='null'">{{method.non_access_modifier}}</p>
                                                <p ng-show="method.non_access_modifier==='null'">-</p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p>return_type</p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p ng-show="method.return_type!==''">{{method.return_type}}</p>
                                                <p ng-show="method.return_type===''">-</p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p>parameter</p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p ng-show="method.parameter!==''">{{method.parameter}}</p>
                                                <p ng-show="method.parameter===''">-</p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p>recursive</p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p ng-show="method.recursive !== ''">{{method.recursive}}</p>
                                                <p ng-show="method.recursive === ''">-</p>


                                            </div>
                                            <div class="col-sm-6">
                                                <p>loop</p>
                                            </div>
                                            <div class="col-sm-5">
                                                <p ng-show="method.loop !== ''">{{method.loop}}</p>
                                                <p ng-show="method.loop === ''">-</p>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </span>
                </div>
            </uib-accordion>




        </div>
    </div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1 style="color: #49176d;text-align: center">Students</h1>
        </div>
        <div class="col-md-6">
            <h1 style="color: #49176d;text-align: center">Code</h1>
        </div>
        <div class="col-md-6"><table class="table table-hover" style="margin-top: 0">
            <thead class="thead-default">
            <tr>
                <th style="text-align: center">#</th>
                <th>Students</th>
                <th style="text-align: center">View Code</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="student in studentSubmit">
                <td style="text-align: center">{{$index+1}}</td>
                <td>
                    <div class="card-user-student" style="box-shadow: none;margin: 0;background-color: inherit">
                        <div class="circle-img-card-user-student">
                            <img src="{{student.student.image}}">
                        </div>
                        <div class="content-card-user-student">
                            <h5>Student Code: {{student.student.student_id}}</h5>
                            <h3>{{student.student.name}}</h3>
                            <p>submit_num: {{student.sub_num}}</p>
                        </div>
                    </div>

                </td>
                <td><button class="btn btn-primary" style="margin: auto;display: block;margin-top: 25px" ng-click="clickViewCode(student.id)">View Code</button></td>

            </tr>

            </tbody>
        </table>
        </div>
        <div class="col-md-6">
            <div class="list-file-problem" >
                <button ng-repeat="file in allFiles" ng-click="clickChangeFile($index)">{{$index+1}}.{{file.filename}}</button>
            </div>
            <div ui-ace readonly style="width: 100%;height: 480px;margin: 0" ng-model="aceValue"></div>
        </div>
    </div>
</div>










