<nav class="navbar">
    <div class="container">
        <div class="navbar-brand">
            <a href="#/">CODEROOM</a>
        </div>
        <div class="navbar-user">
            <div class="circle-user">
                <img src="Thanadej.jpg">
            </div>
        </div>
    </div>

</nav>

<div class="container">
    <div class="col-md-6">
        <div class="card-problem-detail">
            <div class="card-problem-detail-left">
                <span class="glyphicon glyphicon-book"></span>
                <h4>Problem</h4>
            </div>
            <div class="card-problem-detail-right">
                <p>hello</p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card-problem-detail">
            <div class="card-problem-detail-left">
                <i class="fa fa-clock-o"></i>
                <h4>Time</h4>
            </div>
            <div class="card-problem-detail-right">
                <p>5</p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card-problem-detail">
            <div class="card-problem-detail-left">
                <i class="material-icons">memory</i>
                <h4>Description</h4>
            </div>
            <div class="card-problem-detail-right">
                <p>fksdal;fk;slfdk'asldk</p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card-problem-detail">
            <div class="card-problem-detail-left">
                <i class="material-icons">memory</i>
                <h4>Memory</h4>
            </div>
            <div class="card-problem-detail-right">
                <p>10</p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card-problem-detail">
            <div class="card-problem-detail-left">
                <p style="line-height: 60px;padding-left: 10px">Pass Structures</p>
            </div>
            <div class="card-problem-detail-right">
                <span class="glyphicon glyphicon-ok"></span>
            </div>
        </div>
    </div>

</div>









