<nav class="navbar">
    <div class="container">
        <div class="navbar-brand">
            <a ng-click="go('/dashboardteacher')">CODEROOM</a>
        </div>
        <div class="navbar-user">
            <div class="circle-user" ng-click="openCarduser()">
                <img src="{{user.image}}">
            </div>
            <div class="navber-user-content" id="showCarduser">
                <div class="card-navbar-content">
                    <img src="{{user.image}}">
                    <p>{{user.student_id}}</p>
                    <h4>{{user.name}}</h4>
                </div>
                <div class="zone-button-navbar-user-content" >
                    <div class="button-navbar-user-content-profile" ng-click="go('/profilestudent')">
                        Profile
                    </div>
                    <div class="button-navbar-user-content-profile" ng-click="logout()" style="border-right: 0;color: #00b4a2">
                        Logout
                    </div>
                </div>
            </div>
        </div>
    </div>

</nav>
<div class="container">
    <div class="col-md-12">
        <div style="width: 100%;background-color: #204060;height: 60px;padding: 0 0 0 10px">
            <h3 style="color: white;line-height: 60px;display: inline">{{announcement.title}}</h3>
            <div style="display: inline;float: right;height: 60px;;padding: 0 10px;cursor: pointer">
                <p style="color: white;line-height: 60px;" ng-click="go('/editannouncementteacher')">Edit</p>
            </div>
            <div style="display: inline;float: right;height: 60px;;padding: 0 10px;cursor: pointer">
                <p style="color: white;line-height: 60px;" ng-click="deleteAnnouncement(announcement.id)">Delete</p>
            </div>
        </div>
        <div style="width: 100%;overflow: hidden;background-color: white;padding: 10px">
            <p style="display: inline;line-height: 60px">{{announcement.content}}</p>
        </div>
    </div>


</div>

