<div ng-include="'js/views/teacher/navbar.html'"></div>

<div class="container">
    <h1 style="text-align: center">{{announcement.title}}</h1>
    <div class="col-md-12">
        <div style="width: 100%;overflow: hidden;background-color: white;padding: 10px" ng-bind-html='announcement.content'>

        </div>
        <div class="button-all-card">
            <div class="row">
                <div class="col-md-6">
                    <button ng-click="go('/editannouncementteacher/'+ announcement.id)">Edit</button>
                </div>
                <div class="col-md-6">
                    <button ng-click="checkDeleteAnnouncement('lg',undefined,announcement.id,announcement.title)">Delete</button>
                </div>
            </div>
        </div>
    </div>


</div>

