<div ng-include="'js/views/teacher/navbar.html'"></div>




<div class=" simpleDemo container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">


                <div class="panel" style="border-radius: 0">
                    <h3 style="text-align: center;margin-bottom: 15px">Sort Lessons</h3>

                    <div class="panel-body">
                        <ul dnd-list="course.lessons">
                            <!-- The dnd-draggable directive makes an element draggable and will
                                 transfer the object that was assigned to it. If an element was
                                 dragged away, you have to remove it from the original list
                                 yourself using the dnd-moved attribute -->
                            <li ng-repeat="item in course.lessons"
                                dnd-draggable="item"
                                dnd-moved="course.lessons.splice($index, 1)"
                                dnd-effect-allowed="move"

                            >
                                <div class="chapter">
                                    <p>{{$index+1}}.{{item.name}}</p>
                                </div>

                            </li>
                        </ul>
                        <button style="float: right;background-color: #204056;color: white;border: none;padding: 10px" ng-click="sortLesson()">Submit</button>
                    </div>
                </div>


        </div>
    </div>


</div>