<div ng-include="'js/views/teacher/navbar.html'"></div>


<div class="container">
    <h1 style="text-align: center; color: #00b4a2">Teachers</h1>

    <div class="row">
        <div class="col-md-4" ng-repeat="teacher in viewMember.teachers">
            <div class="card-square-user">
                <div class="background-circle-user">
                    <div class="cricle-user-img">
                        <img src="{{teacher.image}}">
                    </div>

                </div>
                <div class="content-card-user-teacher">
                    <h3>{{teacher.name}}</h3>
                    <h4>Course</h4>
                    <div class="col-md-6 col-xs-12" ng-repeat="course in teacher.courses">
                        <p>{{course.name}}</p>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

<div class="container">
    <h1 style="color: #49176d;text-align: center;">Students</h1>



</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="button-all-card">
                <div class="row">
                    <div class="col-md-4">
                        <button ng-click="showCodeCourse('sm',undefined,viewMember.token)">Show Codecourse</button>
                    </div>
                    <div class="col-md-4">
                        <button ng-click="go('/uploadstudentlist/'+viewMember.id)">Add Students file</button>
                    </div>
                    <div class="col-md-4">
                        <select  ng-model="sortView.select.view" style="width: 100%;margin-top: 4px;height: 45px;background-color: white;">
                            <option ng-repeat="value in sortView.values" value="{{value.view}}">{{value.view}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <table class="table table-hover" style="margin-top: 0" ng-show="isDelfuteView">
                <thead class="thead-default">
                <tr>
                    <th style="text-align: center">#</th>
                    <th>Students</th>
                    <th style="text-align: center">Progress Course</th>
                    <th style="text-align: center">IP</th>
                    <th style="text-align: center">Status</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="student in viewMember.students">
                    <td style="text-align: center">{{$index+1}}</td>
                    <td>
                        <div class="card-user-student" style="box-shadow: none;margin: 0;background-color: inherit">
                            <div class="circle-img-card-user-student">
                                <img src="{{student.image}}">
                            </div>
                            <div class="content-card-user-student">
                                <h5>Student Code: {{student.student_id}}</h5>
                                <h3>{{student.name}}</h3>
                            </div>
                        </div>

                    </td>
                    <td style="text-align: center;padding-top: 50px;color: #00b4a2">
                        {{student.pivot.progress}}%
                    </td>
                    <td style="text-align: center;padding-top: 19px">
                        <span ng-show="student.ip !== ''">{{student.ip}}</span>
                        <span ng-show="student.ip === ''">-</span>
                        <button class="btn btn-warning" style="margin: auto;display: block" ng-click="chackDropIP('lg',undefined,student.id,student.name,student.ip)">Drop IP</button>

                    </td>

                    <td ng-show="student.pivot.status=== 'enable'"><button class="btn btn-danger" style="margin: auto;display: block;margin-top: 30px" ng-click="chackDisableStudent('lg',undefined,student.id,student.name)">Disable</button></td>
                    <td ng-show="student.pivot.status=== 'disable'"><button class="btn btn-primary" style="margin: auto;display: block;margin-top: 30px" ng-click="enableStudent(student.id)">Enable</button></td>

                </tr>

                </tbody>
            </table>
            <div style="overflow-x: scroll;margin-bottom: 20px">
                <table class="table table-hover" style="margin-top: 0;box-shadow: none;margin-bottom: 0" ng-show="isLessonView" >
                    <thead class="thead-default">
                    <tr>
                        <th   style="text-align: center;">#</th>
                        <th >Students</th>

                        <th  style="text-align: center" ng-repeat="lesson in course.lessons">{{lesson.name}}</th>

                    </tr>


                    </thead>
                    <tbody>
                    <tr ng-repeat="student in viewMember.students">
                        <td style="text-align: center">{{$index+1}}</td>
                        <td>
                            <div class="card-user-student" style="box-shadow: none;margin: 0;background-color: inherit">
                                <div class="circle-img-card-user-student">
                                    <img src="{{student.image}}">
                                </div>
                                <div class="content-card-user-student">
                                    <h5>Student Code: {{student.student_id}}</h5>
                                    <h6>{{student.name}}</h6>
                                </div>
                            </div>

                        </td>
                        <td style="color: #00b4a2;text-align: center;padding-top: 50px" ng-repeat="lesson in student.lessons">
                            {{lesson.pivot.progress}}%
                        </td>




                    </tr>


                    </tbody>
                </table>
            </div>



        </div>
    </div>
</div>




