<nav class="navbar navbar-default">
    <div class="container-fluid container-main">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">

            <a class="navbar-brand" href="#">
                <img style="" alt="Brand" src="image/coderoom.png">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">SIGN UP</a></li>
            </ul>
        </div>
    </div><!-- /.container-fluid -->

</nav>

<h3 style="text-align: center">Add Lessons</h3>
<div class="row container-main whitebackgroud" style="padding: 20px 10px" >

    <div class="col-md-12">
        <form ng-submit="addLesson()">
            <div class="row">
                <div class="col-md-12" style="margin-bottom: 15px">
                    <label>Lesson_Name</label>
                    <input type="text" class="form-control" placeholder="name" ng-model="name">

                </div>
                <div class="col-md-12" style="margin-bottom: 15px">
                    <label>Order</label>
                    <input type="text" class="form-control" placeholder="order" ng-model="order">

                </div>

            </div>
            <button  style="background-color: #00897B;color: white;border: none;border-radius: 0;margin: 0;padding: 10px;outline: none;float: right" type="submit" value="submit" class="btn btn-default">SUBMIT</button>

        </form>
    </div>
</div>