<!--ทำใหม่ บอกด้วยว่าเป็นuploadteacher-->

<nav class="navbar navbar-default">
    <div class="container-fluid container-main">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">

            <a class="navbar-brand" href="#">
                <img style="" alt="Brand" src="image/coderoom.png">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">SIGN UP</a></li>
            </ul>
        </div>
    </div><!-- /.container-fluid -->

</nav>
<div class="container-main">
    <h3 style="text-align: center;margin-bottom: 50px">Add Students</h3>

    <div class="simpleDemo row">

        <div class="col-md-8">
            <div class="row">
                <div ng-repeat="(listName, student) in students" class="col-md-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">List {{listName}}</h3>
                        </div>
                        <div class="panel-body">
                            <ul dnd-list="student">
                                <!-- The dnd-draggable directive makes an element draggable and will
                                     transfer the object that was assigned to it. If an element was
                                     dragged away, you have to remove it from the original list
                                     yourself using the dnd-moved attribute -->
                                <li ng-repeat="item in student"
                                    dnd-draggable="item"
                                    dnd-moved="student.splice($index, 1)"
                                    dnd-effect-allowed="move"

                                >
                                    {{item.name}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>



        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Generated Model</h3>
                </div>
                <div class="panel-body">
                    <pre class="code">{{modelAsJson}}</pre>
                </div>
            </div>
        </div>

    </div>


    <button  style="background-color: #00897B;color: white;border: none;border-radius: 0;margin: 0;padding: 10px;outline: none;float: right" type="submit" value="submit" ng-click="addStudents()" class="btn btn-default">SUBMIT</button>

</div>











