<nav class="navbar navbar-default">
    <div class="container-fluid container-main">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html"><p>CODE ROOM</p></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">SIGN UP</a></li>
            </ul>
        </div>
    </div><!-- /.container-fluid -->

</nav>
<div class="header-profile-chapter">
    <div class="container-main">
        <img src="image/Thanadej.jpg" style="width: 275px;
  height: 225px;">
        <h2 style="text-align: center;margin: 0">Comprogramming II</h2>
   </div>
</div>

<div style="margin-bottom: 20px">
    <div class="row container-main">
        <div class="col-md-12 marginheader" >
            <h4>UNIT 1: IF-ELSE</h4>
            <div class="chapter">
                <div class="current-progrees">
                    20%
                </div>
                <p>Lesson: IF-ELSE</p>
            </div>
        </div>

        <div class="col-md-12 marginheader">
            <h4>UNIT 2: WHILE LOOP</h4>
            <div class="chapter">
                <div class="current-progrees">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                </div>
                <p>Lesson: WHILE LOOP</p>
            </div>
            <div class="chapter">
                <div class="current-progrees">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                </div>
                <p>Quiz: WHILE LOOP</p>

            </div>
        </div>

        <div class="col-md-12 marginheader">
            <h4>UNIT 3: ARRAY I</h4>
            <div class="chapter">
                <div class="current-progrees">
                    20%
                </div>
                <p>Lesson: ARRAY</p>
            </div>
        </div>


    </div>

</div>
