<nav class="navbar navbar-default">
    <div class="container-fluid container-main">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">

            <a class="navbar-brand" href="#">
                <img style="" alt="Brand" src="image/coderoom.png">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">SIGN UP</a></li>
            </ul>
        </div>
    </div><!-- /.container-fluid -->

</nav>
<div class="header-profile-chapter">
    <div class="container-main">
        <img src="image/Thanadej.jpg" >
        <h2 style="text-align: center;margin: 0">{{course.name}}</h2>
    </div>


</div>
<div class="form-btn-profile-chapter" style="box-sizing: border-box;
    margin: 0 auto;
    max-width: 960px;
    min-width: 200px;">
    <a  ng-click="setActive(0)" ng-class="{'btn-changeview-active' : isProfilecourse}" class="btn-changeview">Profile Course</a>
    <a  ng-click="setActive(1)" ng-class="{'btn-changeview-active' : isProfileyouself}" class="btn-changeview">Profile Youself</a>
</div>

<div class="main-profile-chapter" ng-show="isProfilecourse">
    <div class="container">
        <div class="row container-main" style="margin: 30px auto">
            <a href="#">
                <div class="block-coursepage col-md-4 " style="border-right: none">
                    <h3>{{course.instructor}}</h3>
                </div>
            </a>
            <div class="col-md-4 block-coursepage" style="border: none">
                <h3>20 Lesson</h3>
            </div>
            <div class="col-md-4 block-coursepage" style="border-left: none">
                <h3>30 point</h3>
            </div>
        </div>
    </div>
</div>
<div class="main-profile-chapter" ng-show="isProfileyouself">
    <div class="container">
        <div class="row container-main" style="margin: 30px auto">
            <a href="#">
                <div class="col-md-4 block-coursepage" style="border-right: none">
                    <h3>Friend in Class</h3>
                </div>
            </a>
            <div class="col-md-4 block-coursepage" style="border: none">
                <h3>20 Chapter</h3>
            </div>
            <div class="col-md-4 block-coursepage" style="border-left: none">
                <h3>30 point</h3>
            </div>
        </div>
    </div>
</div>
<div class="container-main">
    <div class="row" style="margin-bottom: 20px">
        <div class="col-md-8" style="padding: 0">
            <h3>Lesson</h3>
            <div class="row" style="margin: 0" ng-repeat="lesson in course.lessons">
                <span ng-show="lesson.status=='true'">
                    <a ui-sref="problem({course_name: course.name,lesson_id : lesson.id})">
                        <div class="col-md-12" style="padding: 0" >

                            <div class="chapter">
                                <div class="current-progrees">
                                    {{lesson.progress}}%
                                </div>
                                <p>{{lesson.name}}</p>
                            </div>


                        </div>
                    </a>

                </span>

            </div>
            <h3>Quiz</h3>
            <div class="row" style="margin: 0" ng-repeat="lesson in course.lessons">

                <span ng-show="lesson.status=='false'">
                    <a ui-sref="problem({lesson_id : lesson.id})">
                        <div class="col-md-12" style="padding: 0" >

                            <div class="chapter">
                                <div class="current-progrees">
                                    {{lesson.progress}}%
                                </div>
                                <p>{{lesson.name}}</p>
                            </div>


                        </div>
                    </a>
                </span>
            </div>
        </div>
        <div class="col-md-4" >
            <h3>News</h3>
            <div class="row" style="margin: 0" ng-repeat="announ in course.announcement">

                <div class="col-md-12" style="padding: 0">

                    <div class="card-publish" ng-class="{'card-publish-priority-1': announ.priority== 1,'card-publish-priority-2': announ.priority == 2,'card-publish-priority-3': announ.priority == 3}">
                        <div class="headder-card-publish">
                            <h3>{{announ.title}}</h3>
                        </div>
                        <div class="main-card-publish">
                            <p style="display: inline">{{announ.content}}</p>

                        </div>
                    </div>
                </div>




            </div>
        </div>
    </div>
</div>

