<nav class="navbar navbar-default">
    <div class="container-fluid container-main">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html"><p>CODE ROOM</p></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">SIGN UP</a></li>
            </ul>
        </div>
    </div><!-- /.container-fluid -->

</nav>
<div class="header-profile-chapter">
    <div class="container-main">
        <img src="image/Thanadej.jpg" >
        <h2 style="text-align: center;margin: 0">Comprogramming II</h2>
    </div>


</div>
<div class="form-btn-profile-chapter" style="box-sizing: border-box;
    margin: 0 auto;
    max-width: 960px;
    min-width: 200px;">
    <a href="#/coursepage" ng-click="setActive(0)" ng-class="{'btn-changeview-active' : isProfilecourse}" class="btn-changeview">Profile Course</a>
    <a href="#/coursepage" ng-click="setActive(1)" ng-class="{'btn-changeview-active' : isProfileyouself}" class="btn-changeview">Profile Youself</a>
</div>

<div class="main-profile-chapter" ng-show="isProfilecourse">
    <div class="container">
        <div class="row container-main" style="margin: 30px auto">
            <a href="#">
                <div class="block-coursepage col-md-4 " style="border-right: none">
                    <h3>Pinyo Taeprasartsit</h3>
                </div>
            </a>
            <div class="col-md-4 block-coursepage" style="border: none">
                <h3>20 Chapter</h3>
            </div>
            <div class="col-md-4 block-coursepage" style="border-left: none">
                <h3>30 point</h3>
            </div>
        </div>
    </div>
</div>
<div class="main-profile-chapter" ng-show="isProfileyouself">
    <div class="container">
        <div class="row container-main" style="margin: 30px auto">
            <a href="#">
                <div class="col-md-4 block-coursepage" style="border-right: none">
                    <h3>Friend in Class</h3>
                </div>
            </a>
            <div class="col-md-4 block-coursepage" style="border: none">
                <h3>20 Chapter</h3>
            </div>
            <div class="col-md-4 block-coursepage" style="border-left: none">
                <h3>30 point</h3>
            </div>
        </div>
    </div>
</div>
<div class="container-main">
    <div class="row" style="margin-bottom: 20px">
        <div class="col-md-8" style="padding: 0">
            <div class="row" style="margin: 0">
                <div class="col-md-12" style="padding: 0">
                    <h4>UNIT 1: IF-ELSE</h4>
                    <div class="chapter">
                        <div class="current-progrees">
                            20%
                        </div>
                        <p>Lesson: IF-ELSE</p>
                    </div>
                </div>

                <div class="col-md-12 marginheader" style="padding: 0">
                    <h4>UNIT 2: WHILE LOOP</h4>
                    <div class="chapter">
                        <div class="current-progrees">
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        </div>
                        <p>Lesson: WHILE LOOP</p>
                    </div>
                    <div class="chapter">
                        <div class="current-progrees">
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        </div>
                        <p>Quiz: WHILE LOOP</p>

                    </div>
                </div>

                <div class="col-md-12 marginheader" style="padding: 0">
                    <h4>UNIT 3: ARRAY I</h4>
                    <div class="chapter">
                        <div class="current-progrees">
                            55%
                        </div>
                        <p>Lesson: Array</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-4" >
            <div class="row" style="margin-top: 24px" >
                <div class="col-md-12">
                    <div class="card-publish" style="border-left: 10px solid red;">
                        <div class="headder-card-publish">
                            <h3>This is headder</h3>
                        </div>
                        <div class="main-card-publish">
                            <p style="display: inline">This is main</p>
                            <p style="display: inline">This is main</p>
                            <p style="display: inline">This is main</p>
                            <p style="display: inline">This is main</p>
                            <p style="display: inline">This is main</p>
                            <p style="display: inline">This is main</p>
                            <p style="display: inline">This is main</p>
                            <p style="display: inline">This is main</p>

                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="card-publish" style="border-left: 10px solid green;">
                        <div class="headder-card-publish">
                            <h3>This is headder</h3>
                        </div>
                        <div class="main-card-publish">
                            <p style="display: inline">This is main</p>
                            <p style="display: inline">This is main</p>
                            <p style="display: inline">This is main</p>
                            <p style="display: inline">This is main</p>
                            <p style="display: inline">This is main</p>
                            <p style="display: inline">This is main</p>
                            <p style="display: inline">This is main</p>
                            <p style="display: inline">This is main</p>

                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="card-publish" style="border-left: 10px solid yellow;">
                        <div class="headder-card-publish">
                            <h3>This is headder</h3>
                        </div>
                        <div class="main-card-publish">
                            <p style="display: inline">This is main</p>
                            <p style="display: inline">This is main</p>
                            <p style="display: inline">This is main</p>
                            <p style="display: inline">This is main</p>
                            <p style="display: inline">This is main</p>
                            <p style="display: inline">This is main</p>
                            <p style="display: inline">This is main</p>
                            <p style="display: inline">This is main</p>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
