<nav class="navbar navbar-default">
    <div class="container-fluid container-main">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">

            <a class="navbar-brand" href="#">
                <img style="" alt="Brand" src="image/coderoom.png">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">SIGN UP</a></li>
            </ul>
        </div>
    </div><!-- /.container-fluid -->

</nav>

<!--Class-->
<div class="container-main">
    <h2 style="text-align: center">Active Course</h2>
</div>
<div class="marginheader">
    <div class="row container-main">

        <div class="col-md-4" ng-repeat="my_course in myAdmin_courses" ng-show="my_course.status == 'active'">
            <a ui-sref="coursepage_admin({course_id : my_course.id})" style="text-decoration: none">
                <div class="form">
                    <div class="imgForm">
                        <img ngf-src="my_course.image">
                    </div>
                    <div class="main-form">
                        <p><i class="fa fa-book" aria-hidden="true"></i>{{my_course.name}}</p>

                    </div>

                </div>
            </a>

        </div>



    </div>
</div>

<!--End Class-->
<div class="container-main">
    <h2 style="text-align: center">InActive Course</h2>
</div>
<div class="marginheader">
    <div class="row container-main">

        <div class="col-md-4" ng-repeat="my_course in myAdmin_courses" ng-show="my_course.status == 'inactive'">
            <a ui-sref="coursepage_admin({course_id : my_course.id})" style="text-decoration: none">
                <div class="form">
                    <div class="imgForm">
                        <img ngf-src="my_course.image">
                    </div>
                    <div class="main-form">
                        <p><i class="fa fa-book" aria-hidden="true"></i>{{my_course.name}}</p>

                    </div>

                </div>
            </a>

        </div>



    </div>
</div>

<div class="container-main marginheader">
    <h2 style="text-align: center">All Teacher</h2>

    <div class="row">
        <div class="col-md-4" ng-repeat="teacher in teachers">
            <div class="form">
                <div class="imgForm">
                    <img ngf-src="teacher.image" >
                </div>
                <div class="main-form">
                    <p><i class="fa fa-user fa-lg" aria-hidden="true"></i>{{teacher.name}}</p>
                    <div style="float: right;color: red">
                        <span ng-click="deleteTeacher(teacher.id)" class="glyphicon glyphicon-remove" style="cursor: pointer" aria-hidden="true"></span>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>



<div class="container-main" >
    <h2 style="text-align: center">Add Teacher</h2>
    <div class="row marginheader">
        <a ui-sref="addteachers_admin()">
            <div class="col-md-12">
                <div class="card-alladd-teachers">
                    <div class="btn-plus-teachers"> + </div>
                </div>
            </div>
        </a>

    </div>
</div>