<nav class="navbar navbar-default">
    <div class="container-fluid container-main">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">

            <a class="navbar-brand" href="#">
                <img style="" alt="Brand" src="image/coderoom.png">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">SIGN UP</a></li>
            </ul>
        </div>
    </div><!-- /.container-fluid -->

</nav>
<!--Login CodeRoom-->

<div class="">
    <div class="row container-main" style="margin: 30px auto;">

        <div class="col-md-5 col-md-offset-7 marginheader">
            <form class="form-horizontal">
                <div class="form-group" style="margin-bottom: 15px">
                    <div class="col-md-12">
                        <div class="form-group has-success has-feedback">
                            <input type="text" class="form-control" placeholder="Username" style="font-size: 15px;font-weight: 100" aria-describedby="inputSuccess2Status">
                            <span class="glyphicon glyphicon-ok form-control-feedback"aria-hidden="true"></span>

                        </div>
                        <div class="form-group has-success has-feedback" >
                            <input type="text" class="form-control" placeholder="Password" style="border-bottom: 1px solid #445561;font-size: 15px;font-weight: 100" aria-describedby="inputSuccess2Status">
                            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>

                        </div>
                    </div>
                </div>
                <div class="form-group" style="margin-bottom: 15px">
                    <div class="col-md-12">
                        <button class="btn-login">log in</button>
                    </div>
                </div>

                <div class="form-group" style="margin-bottom: 15px" >
                    <div class="col-md-6">
                        <button class="loginicon"><i class="fa fa-facebook-official fa-lg" aria-hidden="true"></i></button>
                    </div>
                    <div class="col-md-6">
                        <button class="loginicon"><i class="fa fa-google fa-lg" aria-hidden="true"></i></button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
<!--END Login-->
<!--MIDDER-->


<!--Man of the Class-->
<div class="marginheader">
    ​<h2 style="text-align: center;">Top Class</h2>
    <div class="row container-main">
        <div class="col-md-4">
            <a href="#" style="text-decoration:none;">
                <div class="form">
                    <div class="imgForm">
                        <img src="image/iconpeople.png">
                    </div>

                    <div class="main-form">
                        <p><i class="fa fa-user fa-lg" aria-hidden="true"></i> Thanadej Phadtong</p>

                    </div>
                    <div class="main-form">
                        <p><i class="fa fa-book fa-lg" aria-hidden="true"></i>Comprogramming II</p>

                    </div>
                    <div class="top-point">
                        <p><i class="fa fa-graduation-cap fa-lg" aria-hidden="true"></i>97.5 point</p>
                    </div>
                </div>
            </a>

        </div>

        <div class="col-md-4">
            <a href="#" style="text-decoration:none;">
                <div class="form">
                    <div class="imgForm">
                        <img src="image/iconpeople.png">
                    </div>
                    <div class="main-form">
                        <p><i class="fa fa-user fa-lg" aria-hidden="true"></i> Thanadej Phadtong</p>

                    </div>
                    <div class="main-form">
                        <p><i class="fa fa-book fa-lg" aria-hidden="true"></i>Comprogramming II</p>

                    </div>
                    <div class="top-point">
                        <p><i class="fa fa-graduation-cap fa-lg" aria-hidden="true"></i>100 point</p>
                    </div>

                </div>
            </a>
        </div>

        <div class="col-md-4">
            <a href="#" style="text-decoration:none;">
                <div class="form">
                    <div class="imgForm">
                        <img src="image/iconpeople.png">
                    </div>
                    <div class="main-form">
                        <p><i class="fa fa-user fa-lg" aria-hidden="true"></i> Thanadej Phadtong</p>

                    </div>
                    <div class="main-form">
                        <p><i class="fa fa-book fa-lg" aria-hidden="true"></i>Comprogramming II</p>

                    </div>
                    <div class="top-point">
                        <p><i class="fa fa-graduation-cap fa-lg" aria-hidden="true"></i>105 point</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-4">
            <a href="#" style="text-decoration:none;">
                <div class="form">
                    <div class="imgForm">
                        <img src="image/iconpeople.png">
                    </div>
                    <div class="main-form">
                        <p><i class="fa fa-user" aria-hidden="true"></i> Thanadej Phadtong</p>

                    </div>
                    <div class="main-form">
                        <p><i class="fa fa-book" aria-hidden="true"></i>Comprogramming II</p>

                    </div>
                    <div class="top-point">
                        <p><i class="fa fa-graduation-cap" aria-hidden="true"></i> 120 point</p>
                    </div>

                </div>
            </a>
        </div>
    </div>
</div>
<!--Footer-->
<div >
    <div class="footer marginheader">
        <div class="container">
            <p>PROVIDER</p>
            <p>
                <i class="fa fa-user-secret fa-lg"> Thanadej</i>
            </p>
            <p>
                <i class="fa fa-user-secret fa-lg"> Thanadej</i>
            </p>
            <p>
                <i class="fa fa-user-secret fa-lg"> Thanadej</i>
            </p>
        </div>
    </div>

</div>