<nav class="navbar navbar-default">
    <div class="container-fluid container-main">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">

            <a class="navbar-brand" href="#">
                <img style="" alt="Brand" src="image/coderoom.png">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">SIGN UP</a></li>
            </ul>
        </div>
    </div><!-- /.container-fluid -->

</nav>


<div style="margin-bottom: 20px">
    <div class="container-main">
        <h3 style="text-align: center">Students in Course</h3>

        <table class="table">
            <tr style="background-color: #204056; color: white">
                <th style="text-align: center">Image</th>
                <th style="text-align: center">Student_code</th>
                <th style="text-align: center">Name</th>
                <th style="text-align: center">Delete Student</th>
            </tr>
            <tr style="color:#204056;background-color:white " ng-repeat="student in students">
                <td style="text-align: center"><img ngf-src="student.image" style="width: 30px;height: 30px"></td>
                <td style="text-align: center">{{student.student_id}}</td>
                <td style="text-align: center">{{student.name}}</td>
                <td style="text-align: center;color: red"><span ng-click="deleteStudent(student.student_id)" class="glyphicon glyphicon-remove" style="cursor: pointer" aria-hidden="true"></span></td>
            </tr>
            <tr style="color:#204056;background-color:white ">
                <td colspan="4">
                    <a ui-sref="addstudents_teachers()">
                        <div style="width: 50px;height: 50px;border-radius: 100%;background-color:#00897B;color: white;text-align: center;padding-top: 13px;margin: auto;display: block">+</div>
                    </a>
                </td>
            </tr>
        </table>

    </div>


</div>
