<nav class="navbar navbar-default">
    <div class="container-fluid container-main">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html"><p>CODE ROOM</p></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">SIGN UP</a></li>
            </ul>
        </div>
    </div><!-- /.container-fluid -->

</nav>

<div class="header-profile">
    <div class="container">
        <img src="image/Thanadej.jpg" >
        <h2 style="text-align: center;margin: 0">Thanadej Phadtong</h2>
    </div>
</div>
<div class="main-profile-chapter">
    <div class="container">
        <div class="row marginheader container-main" style="margin-bottom: 30px;margin: 30px auto;">
                <div class="col-md-6 block-profile" style="border-right: none">
                    <h2>3</h2>
                    <small>Skills Completed</small>
                </div>
            <div class="col-md-6 block-profile" style="border-left: none">
                <h2>5</h2>
                <small>Skills Woking</small>
            </div>
        </div>
    </div>
</div>

