<nav class="navbar navbar-default">
    <div class="container-fluid container-main">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">

            <a class="navbar-brand" href="#">
                <img style="" alt="Brand" src="image/coderoom.png">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">SIGN UP</a></li>
            </ul>
        </div>
    </div><!-- /.container-fluid -->

</nav>

<div class="header-profile-chapter">
    <div class="container-main">
        <img src="image/iconpeople.png" style="border-radius: 4px">
        <h2 style="text-align: center;margin: 0">{{Name}}</h2>
    </div>
</div>
<div class="main-profile-chapter">
    <div class="container">
        <div class="row container-main" style="margin: 30px auto">
            <a href="#">
                <div class="block-coursepage col-md-4 " style="border-right: none">
                    <h3>
                        <i class="fa  fa-users fa-lg" aria-hidden="true" style="margin-right: 10px"/> Teachers
                    </h3>
                </div>
            </a>
            <div class="col-md-4 block-coursepage" style="border: none">
                <h3>{{course.lesson_num}} Lessons</h3>
            </div>
            <div class="col-md-4 block-coursepage" style="border-left: none">
                <h3>{{course.quiz_num}} Quiz</h3>
            </div>
        </div>
    </div>
</div>



