
<div id="main" class="page-uploadstudents" >

    <div id="mySidenav" class="slide-nav">

        <div class="header-slide-nav">
            <div class="lesson-name">{{lesson.lesson_name}}</div>

        </div>
        <div class="main-slide-nav">
            <span ng-repeat="problem in problems">
                <a ng-click="setProblemView(problem.prob_id)">{{problem.prob_name}}
                    <div class="popover-detail">
                        <table class="table" ng-repeat="class in problem.manyClass">
                            <tr style="background-color: #204056">
                                <th>Modifier</th>
                                <th>Type</th>
                                <th>Name</th>
                                <th>Point</th>
                            </tr>
                            <tr style="background-color: white;color: #204056">
                                <td>{{class.constructer[0]}}</td>
                                <td></td>
                                <td>{{class.constructer[1]}}</td>

                                <td>0/{{class.constructer[2]}}</td>
                            </tr>
                            <tr style="background-color: #acb4bc;color: black" >
                                <td></td>
                                <td></td>
                                <td>{{class.package[0]}}</td>
                                <td>0/{{class.package[1]}}</td>
                            </tr>
                            <tr style="background-color: #5F8493;color: black" >
                                <td></td>
                                <td></td>
                                <td>{{class.enclose[0]}}</td>

                                <td>0/{{class.enclose[1]}}</td>
                            </tr>
                            <tr style="background-color: white;color: #204056" ng-repeat="attribute in class.attributes">
                                <td>{{attribute[1]}}</td>
                                <td>{{attribute[2]}}</td>
                                <td>{{attribute[3]}}</td>

                                <td>{{attribute[4]}}/{{attribute[5]}}</td>
                            </tr>
                            <tr style="background-color: #204056;color: white" ng-repeat="method in class.methods">
                                <td>{{method[1]}}</td>
                                <td>{{method[2]}}</td>
                                <td>{{method[3]}}</td>

                                <td>{{method[4]}}/{{method[5]}}</td>
                            </tr>

                        </table>
                    </div>
                </a>
            </span>


        </div>

    </div>


    <nav class="nav-upload">
        <div class="container-upload">
            <div class="hbg-upload">
                <a class="btn-hbg-uoload" ng-click="openNavView()"><span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>  {{probInpage.order}}.{{probInpage.name}}</a>
            </div>
            <div class="back-course">
                <a> <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>{{ course_name }}</a>
            </div>

        </div>
    </nav>
    <div class="main-uploadstudents">
        <div class="iframe-upload">
            <iframe ngf-src="probInpage.problemfile"></iframe>
        </div>
        <div class="ace-upload">
            <div class="nav-aceupload">
                <a>Java</a>
            </div>
            <div id="editor"></div>

        </div>
    </div>

    <nav class="nav-upload">
        <div class="container-upload">
            <!--DON'T TEST(ยังไม่ได้ลอง)-->
            <div class="alert-upload">
                <p ng-class="{'massage-fail': alert.status == 'null'|| alert.status == 'false','massage-success': alert.status == 'complete'}" class="massage-fail">{{alert.massage}}</p>
            </div>
            <div class="btn-uploadfile">
                <button class="select-files" type="file" ngf-select ng-model="file" name="file" accept=".zip">Select Files</button>
                <p>{{file.name}}</p>

                <button class="submit" type="submit" value="sumit" ng-click="submitProblem()">SUBMIT</button>

            </div>
            <div class="progress-btn-next">
                <div class="progress-main" style="border-top: none;margin: 0;padding: 0;width: 70%;padding-top: 20px;float: left" ng-show="file.progress >= 0">
                    <div class="progress">
                        <div class="progress-bar" style="width: {{filefield.progress}}%" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>

                </div>
                <a class="next-upload">Next</a>
            </div>
        </div>




    </nav>


</div>
