<!--ทำใหม่ บอกด้วยว่าเป็นuploadteacher-->

<nav class="navbar navbar-default">
    <div class="container-fluid container-main">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">

            <a class="navbar-brand" href="#">
                <img style="" alt="Brand" src="image/coderoom.png">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">SIGN UP</a></li>
            </ul>
        </div>
    </div><!-- /.container-fluid -->

</nav>


<div class="row container-main whitebackgroud" style="padding: 20px 10px" >

    <div class="col-md-12" ng-show="isFormproblem">
        <form name="myForm">
            <div class="row">
                <div class="col-md-12" style="margin-bottom: 15px">
                    <label>ProblemName</label>
                    <input type="text" class="form-control" placeholder="Filename" ng-model="filename">

                </div>
                <div class="col-md-12" style="margin-bottom: 15px">
                    <label>Package</label>
                    <input type="text" class="form-control" placeholder="Package" ng-model="package">

                </div>
                <div class="col-md-12" style="margin-bottom: 15px">
                    <label>Lesson_id</label>
                    <input type="text" class="form-control" placeholder="Lesson_id" ng-model="lesson_id">

                </div>
                <div class="col-md-12" style="margin-bottom: 15px">

                    <button class="btn-uploadfile-teacher" type="file" ngf-select ng-model="filefield" name="filefield" accept=".zip">Select Files</button>{{filefield.name}}

                </div>


            </div>
            <div class="col-md-11" style="padding:0;margin-top: 20px">

                    <div class="progress-main" style="border-top: none;margin: 0;padding: 0;float: right" ng-show="filefield.progress >= 0">
                        <div class="progress">
                            <div class="progress-bar" style="width: {{filefield.progress}}%" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                        <div class="current-work">
                            {{filefield.progress}}%
                        </div>
                    </div>

            </div>
            <button style="background-color: #00897B;color: white;border: none;border-radius: 0;margin: 0;padding: 10px;outline: none" value="sumit" ng-disabled="!myForm.$valid" ng-click="uploadFiles(filefield)" class="btn btn-default">SUBMIT</button>


        </form>
    </div>
    <div class="col-md-12" ng-show="isRequirment" >
        {{calcuratePoint()}}
        <div class="col-md-offset-10" style="font-size: 20px">Point: {{totolPoint}}</div>
        <form ng-submit="submitRequirment()">

            <div class="panel panel-default" ng-repeat="x in requirment">
                <!-- Default panel contents -->
                <div class="panel-heading" style="background-color:#204056;color: white">{{ x.class[3]}}</div>
                <table class="table" >
                    <tr style="background-color: white;color: black">
                        <th>Type</th>
                        <th>Modifier</th>
                        <th>Final&Static</th>
                        <th>DataType</th>
                        <th>Name</th>
                        <th>Parameter</th>
                        <th>Point</th>
                    </tr>
                    <tr style="background-color: #acb4bc;color: black" >
                        <td>{{x.class[0]}}</td>
                        <td>{{x.class[1]}}</td>
                        <td>{{x.class[2] }}</td>
                        <td>-</td>
                        <td>{{x.class[3]}}</td>
                        <td>-</td>
                        <td><input ng-model="x.class[4]" onkeypress='return event.charCode >= 48 && event.charCode <= 57 || event.charCode==46'></td>

                    </tr>
                    <tr style="background-color: #acb4bc;color: black" >
                        <td>{{x.package[0]}}</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>{{x.package[1]}}</td>
                        <td>-</td>
                        <td><input ng-model="x.package[2]" onkeypress='return event.charCode >= 48 && event.charCode <= 57 || event.charCode==46'></td>

                    </tr>
                    <tr style="background-color: #acb4bc;color: black" >
                        <td>{{x.encolse[0]}}</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>{{x.encolse[1]}}</td>
                        <td>-</td>
                        <td><input ng-model="x.enclose[2]" onkeypress='return event.charCode >= 48 && event.charCode <= 57 || event.charCode==46'></td>

                    </tr>

                    <tr ng-repeat="y in x.attribute" style="background-color: #acb4bc;color: black">
                        <td>{{ y[0] }}</td>
                        <td>{{ y[1] }}</td>
                        <td>{{ y[2] }}</td>
                        <td>{{ y[3] }}</td>
                        <td>{{ y[4] }}</td>
                        <td>-</td>
                        <td><input ng-model="y[5]" onkeypress='return event.charCode >= 48 && event.charCode <= 57 || event.charCode==46'></td>

                    </tr>

                    <tr ng-repeat="y in x.method" style="background-color: #acb4bc;color: black">
                        <td>{{ y[0] }}</td>
                        <td>{{ y[1] }}</td>
                        <td>{{ y[2] }}</td>
                        <td>{{ y[3] }}</td>
                        <td>{{ y[4] }}</td>
                        <td>{{ y[5] }}</td>
                        <td><input ng-model="y[6]" onkeypress='return event.charCode >= 46 && event.charCode <= 57 || event.charCode==46'></td>

                    </tr>
                </table>

            </div>
            <button  style="background-color: #00897B;color: white;border: none;border-radius: 0;margin: 0;padding: 10px;outline: none;float: right" type="submit" value="sumit" class="btn btn-default">SUBMIT</button>


        </form>

        <br>
        {{requirment | json}}
    </div>

</div>










