
<div  >
    <div class="hover-slide-nav" id="hover">
        <div class="left-hover-slide-nav">
            <div class="slide-nav">

                <div class="header-slide-nav">
                    <h3>{{lesson.lesson_name}}</h3>
                </div>

                <div class="main-slide-nav">
                    <span ng-repeat="problem in problems">
                         <a ng-click="setProblemView(problem.prob_id)">{{problem.prob_name}}</a>
                    </span>

                </div>

            </div>
        </div>
        <div class="right-hover-slide-nav">
            <table class="table" ng-repeat="classindex in probInpage.class">
                <tr style="background-color: #204056">
                    <th>Type</th>
                    <th>Modifier</th>
                    <th>Final&Static</th>
                    <th>DataType</th>
                    <th>Name</th>
                    <th>Parameter</th>
                    <th>Point</th>
                </tr>
                <tr style="color:#204056;background-color:white ">
                    <td>{{classindex.class[0]}}</td>
                    <td>{{classindex.class[1]}}</td>
                    <td>{{classindex.class[2]}}</td>
                    <td>{{classindex.class[3]}}</td>
                    <td>{{classindex.class[4]}}</td>
                    <td>{{classindex.class[5]}}</td>
                    <td>{{classindex.class[6]}}/{{classindex.class[7]}}</td>
                </tr>
                <tr style="color:#204056 ;background-color:white">
                    <td>{{classindex.package[0]}}</td>
                    <td>{{classindex.package[1]}}</td>
                    <td>{{classindex.package[2]}}</td>
                    <td>{{classindex.package[3]}}</td>
                    <td>{{classindex.package[4]}}</td>
                    <td>{{classindex.package[5]}}</td>
                    <td>{{classindex.package[6]}}/{{classindex.package[7]}}</td>
                </tr>
                <tr style="color:#204056 ;background-color:white">
                    <td>{{classindex.enclose[0]}}</td>
                    <td>{{classindex.enclose[1]}}</td>
                    <td>{{classindex.enclose[2]}}</td>
                    <td>{{classindex.enclose[3]}}</td>
                    <td>{{classindex.enclose[4]}}</td>
                    <td>{{classindex.enclose[5]}}</td>
                    <td>{{classindex.enclose[6]}}/{{classindex.enclose[7]}}</td>
                </tr>
                <tr style="color:#204056 ;background-color:white" ng-repeat="constructor in classindex.constructors">
                    <td>{{constructor[0]}}</td>
                    <td>{{constructor[1]}}</td>
                    <td>{{constructor[2]}}</td>
                    <td>{{constructor[3]}}</td>
                    <td>{{constructor[4]}}</td>
                    <td>{{constructor[5]}}</td>
                    <td>{{constructor[6]}}/{{constructor[7]}}</td>
                </tr>
                <tr style="color:#204056 ;background-color:white" ng-repeat="attribute in classindex.attributes">
                    <td>{{attribute[0]}}</td>
                    <td>{{attribute[1]}}</td>
                    <td>{{attribute[2]}}</td>
                    <td>{{attribute[3]}}</td>
                    <td>{{attribute[4]}}</td>
                    <td>{{attribute[5]}}</td>
                    <td>{{attribute[6]}}/{{attribute[7]}}</td>
                </tr>
                <tr  style="color:#204056 ;background-color:white" ng-repeat="method in classindex.methods">
                    <td>{{method[0]}}</td>
                    <td>{{method[1]}}</td>
                    <td>{{method[2]}}</td>
                    <td>{{method[3]}}</td>
                    <td>{{method[4]}}</td>
                    <td>{{method[5]}}</td>
                    <td>{{method[6]}}/{{method[7]}}</td>
                </tr>

            </table>
        </div>

    </div>





    <nav class="navtop-upload">
        <div class="left-navtop-upload">
            <a  class="btn-hbg-upload" ng-click="openNavView()"><span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>  {{probInpage.order}}.{{probInpage.name}}</a>

        </div>
        <a class="name-course-navtop-upload"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> {{ course_name }}</a>
        <div class="right-navtop-upload">
            profileddddd
        </div>
    </nav>

    <div class="main-uploadstudents">
        <div class="iframe-upload">
            <iframe ngf-src="probInpage.problemfile"></iframe>
        </div>
        <div class="ace-upload">
            <div class="nav-aceupload">
                <span ng-repeat="file in files">
                     <a>{{file.name}}</a>
                </span>

            </div>
            <div id="editor"></div>


        </div>
    </div>

    <nav class="navbottom-upload">
        <div class="left-navbottom-upload">
            <p ng-class="{'massage-fail': alert.status == 'null'|| alert.status == 'false','massage-success': alert.status == 'complete'}" >{{alert.massage}}</p>
        </div>
        <div class="middle-navbottom-upload">
            {{readFiles()}}
            <button class="select-files upload-problem" type="file" ngf-select ng-model="files" name="files" accept="/*" multiple >Select Files</button>
            <p>{{file.name}}</p>

            <button type="submit" value="sumit" ng-click="uploadFiles()">SUBMIT</button>
        </div>
        <div class="right-navbottom-upload">
            <a>NEXT</a>
        </div>
    </nav>





</div>

