
    <nav class="navbar">
        <div class="container">
            <div class="navbar-brand">
                <a href="#/">CODEROOM</a>
            </div>
            <div class="navbar-user">
                <div class="circle-user" ng-click="logout()">
                    <img src="Thanadej.jpg">
                </div>
            </div>
        </div>

    </nav>
    <div class="container">
        <div class="col-md-5 col-sm-5 col-xs-12" style="padding: 0">
            <div class="nav-login-register">
                <img src="Thanadej.jpg" >
                <h3>Start Coding!!</h3>
                <div>
                    <hr>

                    <a class="register" ng-click="switchMode('register')" ng-class="{active:buttonRegister==true}">REGISTER</a>
                    <a class="login" ng-click="switchMode('login')" ng-class="{active:buttonLogin==true}">SIGN IN</a>
                </div>
            </div>
        </div>
        <div class="col-md-7 col-sm-7 col-xs-12" style="padding: 0" ng-show="buttonLogin">
            <div class="login-register">
                <h3 style="text-align: center;margin-bottom: 30px">SIGN IN</h3>

                <form ng-submit="login()">
                    <div class="form-group">
                        <div class="col-md-12" style="margin-bottom: 10px">
                            <div class="input-group" style="border: 1px solid #204060">
                                <span class="input-group-addon transparent" style="background-color: white;border: 0;border-right: 1px solid #204060;color: #204060"><span class="glyphicon glyphicon glyphicon-user"></span></span>
                                <input class="form-control left-border-none" placeholder="Username" type="text" name="username" style="border: 0;border-radius: 0" ng-model="postUser.username">
                            </div>
                        </div>

                        <div class="col-md-12" style="margin-bottom: 10px">
                            <div class="input-group" style="border: 1px solid #204060">
                                <span class="input-group-addon transparent" style="background-color: white;border: 0;border-right: 1px solid #204060;color: #204060"><span class="glyphicon glyphicon glyphicon-lock"></span></span>
                                <input class="form-control left-border-none" placeholder="Password" type="text" name="password" style="border: 0;border-radius: 0" ng-model="postUser.password">
                            </div>
                        </div>

                        <div class="col-md-12">
                            <a style="font-size: 13px;cursor: pointer">Forgot Password</a>
                            <button type="submit" value="submit">SIGN IN</button>
                        </div>
                        <div class="col-md-12" style="height: 20px;text-align: center;">
                            <br>
                            <hr style="float: left;width: 40%;border: 1px solid #204060;display: inline">
                            <span style="line-height: 40px">OR</span>
                            <hr style="float: right;width: 40%;border: 1px solid #204060;display: inline">
                        </div>
                        <div class="col-md-12" style="margin: 50px 0 0 0">
                            <img src="facebook.png" style=";width: 35px;height: 35px;display: block;margin: auto">

                        </div>
                    </div>
                </form>
            </div>

        </div>
        <div class="col-md-7 col-sm-7 col-sx-12" style="padding: 0" ng-show="buttonRegister">
            <div class="login-register">
                <h3 style="text-align: center;margin-bottom: 30px">REGISTER</h3>

                <form>
                    <div class="form-group">

                        <div class="col-md-12" style="margin-bottom: 10px">
                            <div class="input-group" style="border: 1px solid #204060">
                                <span class="input-group-addon transparent" style="background-color: white;border: 0;border-right: 1px solid #204060;color: #204060"><span class="glyphicon glyphicon-credit-card"></span></span>
                                <input class="form-control left-border-none" placeholder="StudentCode" type="text" name="studentcode" style="border: 0;border-radius: 0">
                            </div>
                        </div>
                        <div class="col-md-12" style="margin-bottom: 10px">
                            <div class="input-group" style="border: 1px solid #204060">
                                <span class="input-group-addon transparent" style="background-color: white;border: 0;border-right: 1px solid #204060;color: #204060"><span class="glyphicon glyphicon glyphicon-user"></span></span>
                                <input class="form-control left-border-none" placeholder="Username" type="text" name="username" style="border: 0;border-radius: 0">
                            </div>
                        </div>
                        <div class="col-md-12" style="margin-bottom: 10px">
                            <div class="input-group" style="border: 1px solid #204060">
                                <span class="input-group-addon transparent" style="background-color: white;border: 0;border-right: 1px solid #204060;color: #204060"><span class="glyphicon glyphicon glyphicon-lock"></span></span>
                                <input class="form-control left-border-none" placeholder="Password" type="text" name="password" style="border: 0;border-radius: 0">
                            </div>
                        </div>
                        <div class="col-md-12" style="margin-bottom: 10px">
                            <div class="input-group" style="border: 1px solid #204060">
                                <span class="input-group-addon transparent" style="background-color: white;border: 0;border-right: 1px solid #204060;color: #204060"><span class="glyphicon glyphicon-envelope"></span></span>
                                <input class="form-control left-border-none" placeholder="Email" type="text" name="email" style="border: 0;border-radius: 0">
                            </div>
                        </div>
                        <div class="col-md-12">

                            <button>SUBMIT</button>
                        </div>


                    </div>
                </form>
            </div>

        </div>
    </div>

    <div class="container">

        <div style="width: 100%;background-color: #00b4a2;height: 60px;text-align: center;margin-bottom: 20px">
            <h3 style="text-align: center;margin:30px 0;color: white;line-height: 60px">Courses</h3>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12" >
            <div class="card-course">
                <img src="c.png">
                <div class="card-headder">
                    <h4 style="margin: 0">Selected Topics in Software Engineering and Service Science III</h4>
                </div>
                <div class="list-icon">
                    <span class="glyphicon glyphicon glyphicon-user"></span>
                    <span>{{5}}</span>
                    <span class="glyphicon glyphicon-menu-hamburger"></span>
                    <span>{{5}}</span>
                </div>


            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12" >
            <div class="card-course">
                <img src="java.png">
                <div class="card-headder">
                    <h4 style="margin: 0">Selected Topics in Software Engineering and Service Science III</h4>
                </div>
                <div class="list-icon">
                    <span class="glyphicon glyphicon glyphicon-user"></span>
                    <span>{{5}}</span>
                    <span class="glyphicon glyphicon-menu-hamburger"></span>
                    <span>{{5}}</span>
                </div>


            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12" >
            <div class="card-course">
                <img src="rm.png">
                <div class="card-headder">
                    <h4 style="margin: 0">Selected Topics in Software Engineering and Service Science III</h4>
                </div>
                <div class="list-icon">
                    <span class="glyphicon glyphicon glyphicon-user"></span>
                    <span>{{5}}</span>
                    <span class="glyphicon glyphicon-menu-hamburger"></span>
                    <span>{{5}}</span>
                </div>


            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12" >
            <div class="card-course">
                <img src="datastruct.png">
                <div class="card-headder">
                    <h4 style="margin: 0">Selected Topics in Software Engineering and Service Science III</h4>
                </div>
                <div class="list-icon">
                    <span class="glyphicon glyphicon glyphicon-user"></span>
                    <span>{{5}}</span>
                    <span class="glyphicon glyphicon-menu-hamburger"></span>
                    <span>{{5}}</span>
                </div>


            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12" >
            <div class="card-course">
                <img src="oosd.png">
                <div class="card-headder">
                    <h4 style="margin: 0">Selected Topics in Software Engineering and Service Science III</h4>
                </div>
                <div class="list-icon">
                    <span class="glyphicon glyphicon glyphicon-user"></span>
                    <span>{{5}}</span>
                    <span class="glyphicon glyphicon-menu-hamburger"></span>
                    <span>{{5}}</span>
                </div>


            </div>
        </div>

    </div>

    <div class="container">
        <div style="width: 100%;background-color: #00b4a2;height: 60px;text-align: center;margin-bottom: 20px">
            <h3 style="text-align: center;margin:30px 0;color: white;line-height: 60px">Teacher</h3>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12" >
            <div class="card-teacher">
                <img src="Thanadej.jpg">
                <h4>Wisoot Worasangasilp</h4>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12" >
            <div class="card-teacher">
                <img src="Thanadej.jpg">
                <h4>Wisoot Worasangasilp</h4>
            </div>
        </div>

    </div>
