<div class="img-background-homepage">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <img src="../../Coderoom2/background.gif">
        </div>

    </div>
    <div class="row" >
        <div class="col-md-offset-3 col-md-6">
            <div class="col-md-6">
                <button ng-click="go('/register')">Register</button>
            </div>
            <div class="col-md-6">
                <button ng-click="go('/login')">Log In</button>
            </div>
        </div>

    </div>
</div>