
<div class="container" style="margin-top: 40px">

    <div class="col-md-6" style="height: 100%">
        <div style="width: 100%;background-color: white;height: 500px;background-color: #204056;text-align: center
        ;line-height: 500px;color: white;cursor: pointer" ng-click="go('/dashboardteacher')">
            Teacher
        </div>
    </div>
    <div class="col-md-6" style="height: 100%">
        <div style="width: 100%;background-color: white;height: 500px;background-color: #00b4a2;text-align: center
        ;line-height: 500px;color: white;cursor: pointer" ng-click="go('/dashboardadmin')">
            Admin
        </div>

    </div>

</div>