<div ng-include="'js/views/admin/navbar.html'"></div>


<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div class="button-all-card">
                <div class="row">
                    <div class="col-md-4">
                        <button ng-click="changeView('course')">View Courses</button>
                    </div>
                    <div class="col-md-4">
                        <button ng-click="changeView('teacher')">View Teachers</button>
                    </div>
                    <div class="col-md-4">
                        <button ng-click="changeView('admin')">View Admins</button>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12" ng-show="isViewCourse">
            <h1 style="color: #00b4a2;text-align: center">Courses</h1>
            <div class="button-all-card">
                <div class="row">
                    <div class="col-md-12">
                        <button ng-click="go('/addcourseadmin')">Create Course</button>
                    </div>

                </div>
            </div>
            <table class="table table-hover" style="margin-top: 0">
                <thead class="thead-default">
                <tr>
                    <th style="text-align: center">#</th>
                    <th>Courses</th>
                    <th style="text-align: center">Add Teachers</th>
                    <th style="text-align: center">Status</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="course in dashBorad">
                    <td style="text-align: center">{{$index+1}}</td>
                    <td>
                        <div class="list-card-course" style="background-color: inherit" >
                            <div class="square-img-card-course">
                                <img src="{{course.image}}">
                            </div>
                            <div class="content-list-card-course">
                                <h3>{{course.name}} ({{course.status}})</h3>
                                <h4>Teachers: <span>{{course.teachers_count}}</span> Students: <span>{{course.students_count}}</span> Lessons: <span>{{course.lessons_count}}</span></h4>
                            </div>
                        </div>
                    </td>
                    <td><button class="btn btn-default" style="margin: auto;display: block;margin-top: 25px" ng-click="go('/addteachercourseadmin/'+course.id)">Add Teachers</button></td>
                    <td ng-show="course.status === 'enable'">
                        <button class="btn btn-danger" style="margin: auto;display: block;margin-top: 25px" ng-click="checkDisableCourse('lg',undefined,course.id,course.name)">Disable</button>
                    </td>
                    <td ng-show="course.status === 'disable'">
                        <button class="btn btn-primary" style="margin: auto;display: block;margin-top: 25px" ng-click="enableCourse(course.id)">Enable</button>
                    </td>

                </tr>

                </tbody>
            </table>
        </div>


        <div class="col-md-12" ng-show="isViewTeacher">
            <h1 style="color: #00b4a2;text-align: center">Teachers</h1>
            <div class="button-all-card">
                <div class="row">
                    <div class="col-md-12">
                        <button ng-click="go('/createteacheradmin')">Create Teacher</button>
                    </div>

                </div>
            </div>
            <table class="table table-hover" style="margin-top: 0">
                <thead class="thead-default">
                <tr>
                    <th style="text-align: center">#</th>
                    <th>Teachers</th>

                    <th style="text-align: center">Status</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="teacher in dashBoard.teacher_all">
                    <td style="text-align: center">{{$index+1}}</td>
                    <td>
                        <div class="card-user-student" style="box-shadow: none;margin: 0;background-color: inherit">
                            <div class="circle-img-card-user-student">
                                <img src="{{teacher.image}}">
                            </div>
                            <div class="content-card-user-student">
                                <h3>{{teacher.name}}</h3>
                            </div>
                        </div>
                    </td>
                    <td ng-show="teacher.status === 'enable'">
                        <button class="btn btn-primary" style="margin: auto;display: block;margin-top: 25px" ng-click="activeTeacher(teacher.id)">Active</button>
                    </td>
                    <td ng-show="teacher.status === 'disable'">
                        <button class="btn btn-primary" style="margin: auto;display: block;margin-top: 25px" ng-click="checkInActiveTeacher('lg',undefined,teacher.id,teacher.name)">Inactive</button>
                    </td>

                </tr>

                </tbody>
            </table>
        </div>


        <div class="col-md-12" ng-show="isViewAdmin">
            <h1 style="color: #00b4a2;text-align: center">Admins</h1>
            <div class="button-all-card">
                <div class="row">
                    <div class="col-md-12">
                        <button ng-click="go('/createadmin')">Create Admin</button>
                    </div>

                </div>
            </div>
            <table class="table table-hover" style="margin-top: 0">
                <thead class="thead-default">
                <tr>
                    <th style="text-align: center">#</th>
                    <th>Admins</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="admin in dashBoard.admin_all">
                    <td style="text-align: center">{{$index+1}}</td>
                    <td>
                        <div class="card-user-student" style="box-shadow: none;margin: 0;background-color: inherit">
                            <div class="circle-img-card-user-student">
                                <img src="{{admin.image}}">
                            </div>
                            <div class="content-card-user-student">
                                <h3>{{admin.name}}</h3>
                            </div>
                        </div>
                    </td>

                </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>

